<!--FOOTER-->
<footer class="footer">
    <div class="footer__wrapper">
        <div class="to-top">
            <div class="to-top__wrapper">
                <img class="top-top__img" src="img/to-top.svg" />
            </div>
        </div>
        <div class="footer__content">
            <div class="footer__block">
                <div class="footer-social">
                    <ul class="footer-social__list">
                        <li class="footer-social__list-item">
                            <a class="footer-social__item" href="tel:8-800-555-8000"
                                ><span class="footer-social__icon"><img src="img/phone.svg" /></span
                                ><span class="footer-social__label">8-800-555-8000</span></a
                            >
                        </li>
                        <li class="footer-social__list-item">
                            <span class="footer-social__list-item-text">Звонки по России бесплатно</span>
                        </li>
                        <li class="footer-social__list-item">
                            <a
                                href="https://contactus.mdlzapps.com/form?siteId=IZ22RmFg%2feceuRKF%2fr1WlakAuGt%2b6K8FOdppYAoB0Mw%2fwwa1FTiQ%2bw%3d%3d"
                                class="footer-social__list-item-btn"
                                >Связаться с нами</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer__block footer__block-big">
                <div class="footer-links">
                    <ul class="footer-links__list">
                        <li class="footer-links__item">
                            <a class="footer-links__link" href="http://ru.mondelezinternational.com/legal-notices">пользовательское соглашение</a>
                        </li>
                        <li class="footer-links__item">
                            <a class="footer-links__link" href="http://ru.mondelezinternational.com/privacy-policy">политика конфиденциальности</a>
                        </li>
                        <li class="footer-links__item">
                            <a class="footer-links__link" href="./cookies.html">Политика cookie</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer__block">
                <div class="footer-logo">
                    <div class="footer-logo__wrapper">
                        <img class="footer-logo__img" src="img/logo-mondelez.png" />
                    </div>
                </div>
            </div>
            <div class="footer__block footer__copyright">
                <p class="footer__copyright-text">ООО «Мон’дэлис Русь». Часть группы компаний Mondelēz International. Все права защищены.</p>
            </div>
        </div>
    </div>
</footer>
