<div class="popups">
                <div id="shops" class="popup">
                    <div class="popup__wrap">
                        <a href="#!" class="close-popup js-close-popup"></a>
                        <div class="popup-shops-wrapper">
                            <div class="popup__title">Где купить</div>
                            <div class="popup-shops">
                                <!-- <a href="#" class="popup-shop" target="_blank">
                                    <img src="img/catalog/shops/magnit.png" alt="magnit" />
                                </a> -->
                                <a href="https://5ka.ru/search/?text=alpen%20gold%20duo" class="popup-shop" target="_blank">
                                    <img src="img/catalog/shops/5ka.png" alt="Пятёрочка" />
                                </a>
                                <!-- <a href="#" class="popup-shop" target="_blank">
                                    <img src="img/catalog/shops/lenta.png" alt="Лента" />
                                </a> -->
                                <a href="https://www.perekrestok.ru/cat/search?search=alpen%20gold%20duo" class="popup-shop" target="_blank">
                                    <img src="img/catalog/shops/perekrestok.png" alt="Перекрёсток" />
                                </a>
                                <a
                                    href="https://www.auchan.ru/catalog/?referrer=reattribution%3D1&utm_medium=cpc&utm_source=yandex&utm_campaign=im_msk_search_cpc_brand_auchan-avtostrategiya|704257991&utm_content=cid|704257991|rid|205668109746|gid|5668109746|aid|17363847107|pos|1|post|premium|src|none|srct|search&utm_term=---autotargeting|pid|205668109746&etext=2202.iYbLDuBZLvQyulqnFRl0XWRxa210cmplbnZkcHdvdXM.3562675457779d5774102df81bfece9103500c88&yclid=9789367026416615423&utm_referrer=https%3A%2F%2Fwww.yandex.ru%2F"
                                    class="popup-shop"
                                    target="_blank"
                                >
                                    <img src="img/catalog/shops/aschan.png" alt="Ашан" />
                                </a>
                                <!-- <a href="#" class="popup-shop" target="_blank">
                                    <img src="img/catalog/shops/globus.png" alt="Глобус" />
                                </a>
                                <a href="#" class="popup-shop" target="_blank">
                                    <img src="img/catalog/shops/metro.png" alt="Метро" />
                                </a>
                                <a href="#" class="popup-shop" target="_blank">
                                    <img src="img/catalog/shops/diksi.png" alt="Дикси" />
                                </a>
                                <a href="#" class="popup-shop" target="_blank">
                                    <img src="img/catalog/shops/monetka.png" alt="Монетка" />
                                </a> -->
                                <a href="https://samokat.ru/search?value=alpen%20gold%20duo" class="popup-shop" target="_blank">
                                    <img src="img/catalog/shops/samokat.png" alt="Самокат" />
                                </a>
                                <a
                                    href="https://lavka.yandex.ru/good/shokolad-belyj-i-molochnyj-alpen-gold-duo-s-klubnichnoj-nachinkoj-i-fruktovymi-kusochkami-130-gram"
                                    class="popup-shop"
                                    target="_blank"
                                >
                                    <img src="img/catalog/shops/yandex_lavka.png" alt="Яндекс Лавка" />
                                </a>
                                <a
                                    href="https://market.yandex.ru/search?text=alpen%20gold%20duo&hid=16011677&rs=eJwzqlPy4-JLzClIzVNIz89JUUgpzRc49ughsxILB4MAF5hkgJAaDFloCqs4DA3MDU2MTE0bGOcuvsjexcjEwVDFygFib2Bk-MTIycEgwaAA4v5l3Cewy66XiXnTf7upTFVTvtmtYAKJAwC1cyaC&rt=11&glfilter=7893318%3A10714255"
                                    class="popup-shop"
                                    target="_blank"
                                >
                                    <img src="img/catalog/shops/ya-market.png" alt="Яндекс Маркет" />
                                </a>
                                <a
                                    href="https://www.ozon.ru/category/shokolad-30955/alpen-gold-137533292/?brand_was_predicted=true&category_was_predicted=true&deny_category_prediction=true&from_global=true&text=alpen+gold+duo"
                                    class="popup-shop"
                                    target="_blank"
                                >
                                    <img src="img/catalog/shops/ozon.png" alt="Озон" />
                                </a>
                                <a
                                    href="https://www.wildberries.ru/catalog/0/search.aspx?search=alpen%20gold%20duo"
                                    class="popup-shop"
                                    target="_blank"
                                >
                                    <img src="img/catalog/shops/wb.png" alt="Wildberries" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
