<div class="popups">
                <div id="shops" class="popup">
                    <div class="popup__wrap">
                        <a href="#!" class="close-popup js-close-popup"></a>
                        <div class="popup-shops-wrapper">
                            <div class="popup__title">Где купить</div>
                            <div class="popup-shops">
                                <a href="https://magnit.ru/search?term=alpen%20gold%20aerated" class="popup-shop" target="_blank">
                                    <img src="img/catalog/shops/magnit.png" alt="magnit" />
                                </a>
                                <!-- <a href="#" class="popup-shop" target="_blank">
                                    <img src="img/catalog/shops/5ka.png" alt="Пятёрочка" />
                                </a>
                                <a href="#" class="popup-shop" target="_blank">
                                    <img src="img/catalog/shops/lenta.png" alt="Лента" />
                                </a>
                                <a href="#" class="popup-shop" target="_blank">
                                    <img src="img/catalog/shops/perekrestok.png" alt="Перекрёсток" />
                                </a>
                                <a href="#" class="popup-shop" target="_blank">
                                    <img src="img/catalog/shops/aschan.png" alt="Ашан" />
                                </a>
                                <a href="#" class="popup-shop" target="_blank">
                                    <img src="img/catalog/shops/globus.png" alt="Глобус" />
                                </a>
                                <a href="#" class="popup-shop" target="_blank">
                                    <img src="img/catalog/shops/metro.png" alt="Метро" />
                                </a> -->
                                <a
                                    href="https://dixy.ru/product/shokolad-alpen-gold-belyy-poristyy-75g-2000528932/"
                                    class="popup-shop"
                                    target="_blank"
                                >
                                    <img src="img/catalog/shops/diksi.png" alt="Дикси" />
                                </a>
                                <!-- <a href="#" class="popup-shop" target="_blank">
                                    <img src="img/catalog/shops/monetka.png" alt="Монетка" />
                                </a> -->
                                <a href="https://samokat.ru/search?value=alpen%20gold%20aerated" class="popup-shop" target="_blank">
                                    <img src="img/catalog/shops/samokat.png" alt="Самокат" />
                                </a>
                                <a
                                    href="https://lavka.yandex.ru/good/shokolad-molochnyj-poristyj-alpen-gold-klubnika-banan-75-gram"
                                    class="popup-shop"
                                    target="_blank"
                                >
                                    <img src="img/catalog/shops/yandex_lavka.png" alt="Яндекс Лавка" />
                                </a>
                                <a
                                    href="https://market.yandex.ru/search?text=alpen%20gold%20aerated&rs=eJwzEv3EKMTBKLDwEKsEg8bcxRfZNaYsucgOAEtvB14%2C"
                                    class="popup-shop"
                                    target="_blank"
                                >
                                    <img src="img/catalog/shops/ya-market.png" alt="Яндекс Маркет" />
                                </a>
                                <a
                                    href="https://www.ozon.ru/category/shokolad-30955/alpen-gold-137533292/?brand_was_predicted=true&category_was_predicted=true&deny_category_prediction=true&from_global=true&text=alpen+gold+aerated"
                                    class="popup-shop"
                                    target="_blank"
                                >
                                    <img src="img/catalog/shops/ozon.png" alt="Озон" />
                                </a>
                                <a
                                    href="https://www.wildberries.ru/catalog/0/search.aspx?search=alpen%20gold%20aerated"
                                    class="popup-shop"
                                    target="_blank"
                                >
                                    <img src="img/catalog/shops/wb.png" alt="Wildberries" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
