<div class="popups">
                <div id="shops" class="popup">
                    <div class="popup__wrap">
                        <a href="#!" class="close-popup js-close-popup"></a>
                        <div class="popup-shops-wrapper">
                            <div class="popup__title">Где купить</div>
                            <div class="popup-shops">
                                <a href="https://magnit.ru/search?term=picnic" class="popup-shop" target="_blank">
                                    <img src="img/catalog/shops/magnit.png" alt="magnit" />
                                </a>
                                <a href="https://5ka.ru/search/?text=picnic" class="popup-shop" target="_blank">
                                    <img src="img/catalog/shops/5ka.png" alt="Пятёрочка" />
                                </a>
                                <a href="https://lenta.com/search/picnic/" class="popup-shop" target="_blank">
                                    <img src="img/catalog/shops/lenta.png" alt="Лента" />
                                </a>
                                <a href="https://www.perekrestok.ru/cat/search?search=picnic" class="popup-shop" target="_blank">
                                    <img src="img/catalog/shops/perekrestok.png" alt="Перекрёсток" />
                                </a>
                                <a
                                    href="https://www.auchan.ru/catalog/?referrer=reattribution%3D1&utm_medium=cpc&utm_source=yandex&utm_campaign=im_msk_search_cpc_brand_auchan-avtostrategiya|704257991&utm_content=cid|704257991|rid|205668109746|gid|5668109746|aid|17363847107|pos|1|post|premium|src|none|srct|search&utm_term=---autotargeting|pid|205668109746&etext=2202.iYbLDuBZLvQyulqnFRl0XWRxa210cmplbnZkcHdvdXM.3562675457779d5774102df81bfece9103500c88&yclid=9789367026416615423&utm_referrer=https%3A%2F%2Fwww.yandex.ru%2F"
                                    class="popup-shop"
                                    target="_blank"
                                >
                                    <img src="img/catalog/shops/aschan.png" alt="Ашан" />
                                </a>
                                <a href="https://online.globus.ru/search?q=picnic&context=1&brand_ids=15917" class="popup-shop" target="_blank">
                                    <img src="img/catalog/shops/globus.png" alt="Глобус" />
                                </a>
                                <a
                                    href="https://online.metro-cc.ru/search?utm_source=yandex&utm_medium=cpc&utm_content=ad_13869334887%7Cadgr_5169421356%7Cph_44153461146%7Cdev_desktop%7Cdrf_no%7Cst_search%7Cs_none%7Cp_1%7Cpt_premium%7Cregn_%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0%7Cregid_213%7Cre_44153461146&utm_term=kw_%D0%BC%D0%B5%D1%82%D1%80%D0%BE&utm_campaign=cid_65708482%7Cmix_ecomm_brand_opv_moscow_yandex_search&q=picnic&attributes=1710012482%3Apicnic"
                                    class="popup-shop"
                                    target="_blank"
                                >
                                    <img src="img/catalog/shops/metro.png" alt="Метро" />
                                </a>
                                <a
                                    href="https://dixy.ru/catalog/filter/tip_tovara-is-%D1%88%D0%BE%D0%BA%D0%BE%D0%BB%D0%B0%D0%B4-or-%D0%B1%D0%B0%D1%82%D0%BE%D0%BD%D1%87%D0%B8%D0%BA%20%D1%88%D0%BE%D0%BA%D0%BE%D0%BB%D0%B0%D0%B4%D0%BD%D1%8B%D0%B9/apply/?q=picnic"
                                    class="popup-shop"
                                    target="_blank"
                                >
                                    <img src="img/catalog/shops/diksi.png" alt="Дикси" />
                                </a>
                                <!-- <a href="#" class="popup-shop" target="_blank">
                                    <img src="img/catalog/shops/monetka.png" alt="Монетка" />
                                </a> -->
                                <a href="https://samokat.ru/search?value=picnic" class="popup-shop" target="_blank">
                                    <img src="img/catalog/shops/samokat.png" alt="Самокат" />
                                </a>
                                <a href="https://lavka.yandex.ru/search?text=picnic" class="popup-shop" target="_blank">
                                    <img src="img/catalog/shops/yandex_lavka.png" alt="Яндекс Лавка" />
                                </a>
                                <a
                                    href="https://market.yandex.ru/search?text=picnic&hid=11917855&hid=91337&hid=91518&hid=90666&hid=15720032&hid=13771785&hid=17725598&hid=14696956&hid=6101352&hid=15685457&rs=eJwBZwCY_zJlegUIsvDIBvIBQwgAEKHCBRgAIJ-01wUgyckFIP7KBSCqxAUg4Ly_ByCJyMgGIJ7xuQgg_IOBByDosvQCINGuvQcoq8kFKKrEBSjfxAX9AT5S8z6NAib-MD-VAi27KD-oAp-01wWLair6&rt=9&glfilter=7893318%3A10716567%2C13372295%2C12786019%2C10714255"
                                    class="popup-shop"
                                    target="_blank"
                                >
                                    <img src="img/catalog/shops/ya-market.png" alt="Яндекс Маркет" />
                                </a>
                                <a
                                    href="https://www.ozon.ru/category/shokoladnye-batonchiki-9395/?brand=32520256%2C83994562&brand_was_predicted=true&category_was_predicted=true&deny_category_prediction=true&from_global=true&text=picnic"
                                    class="popup-shop"
                                    target="_blank"
                                >
                                    <img src="img/catalog/shops/ozon.png" alt="Озон" />
                                </a>
                                <a
                                    href="https://www.wildberries.ru/catalog/0/search.aspx?search=picnic+%D0%B1%D0%B0%D1%82%D0%BE%D0%BD%D1%87%D0%B8%D0%BA&targeturl=ST"
                                    class="popup-shop"
                                    target="_blank"
                                >
                                    <img src="img/catalog/shops/wb.png" alt="Wildberries" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
