<!doctype html>
<html lang="ru-RU">
    <head>
        {% include 'connects/meta.html' %}
        <title>Alpen Gold Aerated</title>
        <meta name="description" content="Alpen Gold - это яркие сочетания шоколада с разными ингредиентами. Испытай вкус яркости!" />
        {% include 'connects/styles.html' %} {% include 'analytics.html' %}
    </head>
    <body class="catalog-page aero">
        {% include 'noscript.html' %}
        <div class="catalog-page__wrapper">
            <!--HEADER-->
            {% set showLogo = false %} {% set activePage = "aero" %} {% include 'header.html' %}

            <!--HERO-->
            <div class="catalog-page-content">
                <div class="catalog-banner aero">
                    <div class="container">
                        <div class="breadcrumbs">
                            <a href="./">Главная</a>
                            <a href="./#catalog">Продукты</a>
                            <a href="./alpengold-aero.html">Alpen Gold Aerated</a>
                        </div>
                        <div class="catalog-logo">
                            <img src="img/catalog/logo-big.png" alt="" />
                        </div>
                        <picture class="catalog-banner-product w--250 invers-in-mobil">
                            <source srcset="img/products/aero/products-mobil.webp" media="(max-width: 768px)" />
                            <img src="img/products/aero/products.webp" alt="Alpen Gold Aerated" />
                        </picture>
                    </div>
                </div>

                <!--CATALOG-->
                <div class="catalog-content">
                    <div class="catalog-content-wrapper">
                        <div class="container">
                            <div class="products-grid col--2">
                                <a href="product-alpengold-aero-1.html" class="product product-medium">
                                    <div class="product-img">
                                        <div
                                            class="product-bg"
                                            style="background: radial-gradient(50% 60.35% at 50% 50%, #fefefe 0%, #fba928 100%)"
                                        ></div>
                                        <img src="img/products/aero/1.webp" alt="Alpen Gold" />
                                    </div>
                                    <div class="product-name">Шоколад белый<br />пористый</div>
                                </a>
                                <a href="product-alpengold-aero-2.html" class="product product-medium">
                                    <div class="product-img">
                                        <div
                                            class="product-bg"
                                            style="background: radial-gradient(50% 60.35% at 50% 50%, #f5cdb0 0%, #ce7337 100%)"
                                        ></div>
                                        <img src="img/products/aero/2.webp" alt="Alpen Gold" />
                                    </div>
                                    <div class="product-name">Шоколад молочный <br />пористый</div>
                                </a>
                                <a href="product-alpengold-aero-3.html" class="product product-medium">
                                    <div class="product-img">
                                        <div
                                            class="product-bg"
                                            style="background: radial-gradient(50% 60.35% at 50% 50%, #ffffff 0%, #b7dbf5 100%)"
                                        ></div>
                                        <img src="img/products/aero/3.webp" alt="Alpen Gold" />
                                    </div>
                                    <div class="product-name">Шоколад белый пористый <br />с&nbsp;начинкой клубника-кокос</div>
                                </a>
                                <a href="product-alpengold-aero-4.html" class="product product-medium">
                                    <div class="product-img">
                                        <div
                                            class="product-bg"
                                            style="background: radial-gradient(50% 60.35% at 50% 50%, #fde9bd 0%, #f49e94 100%)"
                                        ></div>
                                        <img src="img/products/aero/4.webp" alt="Alpen Gold" />
                                    </div>
                                    <div class="product-name">Шоколад молочный пористый <br />с&nbsp;начинкой клубника-банан</div>
                                </a>
                            </div>
                            {% include 'connects/seo-text.html' %}
                        </div>
                    </div>
                </div>
            </div>

            {% include 'footer.html' %} {% include 'popups/popup-markets-aero.html' %} {% include 'connects/scripts.html' %}
        </div>
    </body>
</html>
