<!doctype html>
<html lang="ru-RU">
    <head>
        {% include 'connects/meta.html' %}
        <title>Alpen Gold Oreo</title>
        <meta name="description" content="Alpen Gold - это яркие сочетания шоколада с разными ингредиентами. Испытай вкус яркости!" />
        {% include 'connects/styles.html' %} {% include 'analytics.html' %}
    </head>

    <body class="catalog-page oreo">
        <div class="catalog-page__wrapper">
            <!--HEADER-->
            {% set showLogo = false %} {% set activePage = "oreo" %} {% include 'header.html' %}

            <div class="catalog-page-content">
                <div class="catalog-banner oreo">
                    <div class="container">
                        <div class="breadcrumbs">
                            <a href="./">Главная</a>
                            <a href="./#catalog">Продукты</a>
                            <a href="./alpengold-oreo.html">Alpen Gold Oreo</a>
                        </div>
                        <div class="catalog-logo">
                            <img src="img/catalog/logo-big.png" alt="" />
                        </div>
                        <div class="catalog-banner-product left-in-mobil">
                            <img srcset="img/products/oreo/hero-image.webp" alt="" class="catalog-banner-product-img" />
                            <img src="img/products/oreo/decor/0.webp" alt="Alpen Gold" class="catalog-banner-product-decor" />
                        </div>
                    </div>
                </div>
                <div class="catalog-content">
                    <div class="catalog-content-wrapper">
                        <div class="container">
                            <div class="products-grid">
                                <a href="product-alpengold-oreo-1.html" class="product">
                                    <div class="product-img">
                                        <div
                                            class="product-bg"
                                            style="background: radial-gradient(50% 60.35% at 50% 50%, #4289dc 0%, #0a388d 100%)"
                                        ></div>
                                        <img srcset="img/products/oreo/1.webp" alt="Alpen Gold" />
                                    </div>
                                    <div class="product-name">
                                        Шоколад молочный с&nbsp;начинкой со&nbsp;вкусом ванили и&nbsp;кусочками печенья OREO
                                    </div>
                                </a>
                                <a href="product-alpengold-oreo-2.html" class="product">
                                    <div class="product-img">
                                        <div
                                            class="product-bg"
                                            style="background: radial-gradient(50% 60.35% at 50% 50%, #9d5a33 0%, #0a388d 100%)"
                                        ></div>
                                        <img srcset="img/products/oreo/2.webp" alt="Alpen Gold" />
                                    </div>
                                    <div class="product-name">Шоколад молочный с&nbsp;шоколадной начинкой и&nbsp;кусочками печенья OREO</div>
                                </a>
                                <a href="product-alpengold-oreo-3.html" class="product">
                                    <div class="product-img">
                                        <div
                                            class="product-bg"
                                            style="background: radial-gradient(50% 60.35% at 50% 50%, #e89a49 0%, #0a388d 100%)"
                                        ></div>
                                        <img srcset="img/products/oreo/3.webp" alt="Alpen Gold" />
                                    </div>
                                    <div class="product-name">
                                        Шоколад молочный с&nbsp;начинкой со&nbsp;вкусом чизкейка и&nbsp;кусочками печенья OREO
                                    </div>
                                </a>
                            </div>
                            {% include 'connects/seo-text.html' %}
                        </div>
                    </div>
                </div>
            </div>

            {% include 'footer.html' %} {% include 'popups/popup-markets-oreo.html' %} {% include 'connects/scripts.html' %}
        </div>
    </body>
</html>
