<!doctype html>
<html lang="ru-RU">
    <head>
        {% include 'connects/meta.html' %}
        <title>Alpen Gold</title>
        <meta name="description" content="Alpen Gold - это яркие сочетания шоколада с разными ингредиентами. Испытай вкус яркости!" />
        {% include 'connects/styles.html' %} {% include 'analytics.html' %}
    </head>

    <body class="catalog-page alpengold">
        <div class="catalog-page__wrapper">
            <!--HEADER-->
            {% set showLogo = false %} {% set activePage = "alpengold" %} {% include 'header.html' %}

            <div class="catalog-page-content">
                <div class="catalog-banner alpengold">
                    <div class="container">
                        <div class="breadcrumbs dark">
                            <a href="./">Главная</a>
                            <a href="./#catalog">Продукты</a>
                            <a href="./alpengold.html">Alpen Gold</a>
                        </div>
                        <div class="catalog-logo">
                            <img src="img/catalog/logo-big.png" alt="" />
                        </div>
                        <div class="catalog-banner-product">
                            <img srcset="img/products/alpengold/hero-image.webp" alt="" class="catalog-banner-product-img" />
                            <img src="img/products/alpengold/decor/1.webp" alt="Alpen Gold" class="catalog-banner-product-decor" />
                        </div>
                    </div>
                </div>
                <div class="catalog-content">
                    <div class="catalog-content-wrapper">
                        <div class="container">
                            <div class="products-grid">
                                <a href="product-alpengold-1.html" class="product">
                                    <div class="product-img">
                                        <div
                                            class="product-bg"
                                            style="background: radial-gradient(50% 60.35% at 50% 50%, #e6f0d5 0%, #0a7e3c 100%)"
                                        ></div>
                                        <img src="img/products/alpengold/1.webp" alt="Alpen Gold" />
                                    </div>
                                    <div class="product-name">Шоколад молочный с&nbsp;дроблёным фундуком</div>
                                </a>

                                <a href="product-alpengold-2.html" class="product">
                                    <div class="product-img">
                                        <div
                                            class="product-bg"
                                            style="background: radial-gradient(50% 60.35% at 50% 50%, #7663bd 0%, #260e7b 100%)"
                                        ></div>
                                        <img src="img/products/alpengold/2.webp" alt="Alpen Gold" />
                                    </div>
                                    <div class="product-name">Шоколад молочный с&nbsp;чернично-йогуртовой начинкой</div>
                                </a>

                                <a href="product-alpengold-3.html" class="product">
                                    <div class="product-img">
                                        <div
                                            class="product-bg"
                                            style="background: radial-gradient(50% 60.35% at 50% 50%, #edf1f9 0%, #0a87cc 100%)"
                                        ></div>
                                        <img src="img/products/alpengold/3.webp" alt="Alpen Gold" />
                                    </div>
                                    <div class="product-name">Шоколад молочный</div>
                                </a>

                                <a href="product-alpengold-4.html" class="product">
                                    <div class="product-img">
                                        <div
                                            class="product-bg"
                                            style="background: radial-gradient(50% 60.35% at 50% 50%, #edf1f9 0%, #ee2241 100%)"
                                        ></div>
                                        <img src="img/products/alpengold/4.webp" alt="Alpen Gold" />
                                    </div>
                                    <div class="product-name">Шоколад молочный с&nbsp;клубнично-йогуртовой начинкой</div>
                                </a>

                                <a href="product-alpengold-5.html" class="product">
                                    <div class="product-img">
                                        <div
                                            class="product-bg"
                                            style="background: radial-gradient(50% 60.35% at 50% 50%, #9a5dba 0%, #58167b 100%)"
                                        ></div>
                                        <img src="img/products/alpengold/5.webp" alt="Alpen Gold" />
                                    </div>
                                    <div class="product-name">Шоколад молочный с&nbsp;фундуком и&nbsp;изюмом</div>
                                </a>

                                <a href="product-alpengold-6.html" class="product">
                                    <div class="product-img">
                                        <div
                                            class="product-bg"
                                            style="background: radial-gradient(50% 60.35% at 50% 50%, #edf1f9 0%, #e9a30a 100%)"
                                        ></div>
                                        <img src="img/products/alpengold/6.webp" alt="Alpen Gold" />
                                    </div>
                                    <div class="product-name">Шоколад молочный с&nbsp;арахисом и&nbsp;кукурузными хлопьями</div>
                                </a>

                                <a href="product-alpengold-7.html" class="product">
                                    <div class="product-img">
                                        <div
                                            class="product-bg"
                                            style="background: radial-gradient(50% 60.35% at 50% 50%, #edf1f9 0%, #e7c078 100%)"
                                        ></div>
                                        <img src="img/products/alpengold/7.webp" alt="Alpen Gold" />
                                    </div>
                                    <div class="product-name">Шоколад белый с&nbsp;миндалём и&nbsp;кокосовой стружкой</div>
                                </a>

                                <a href="product-alpengold-8.html" class="product">
                                    <div class="product-img">
                                        <div
                                            class="product-bg"
                                            style="background: radial-gradient(50% 60.35% at 50% 50%, #f5ab0a 0%, #5db44d 100%)"
                                        ></div>
                                        <img src="img/products/alpengold/8.webp" alt="Alpen Gold" />
                                    </div>
                                    <div class="product-name">Шоколад молочный с&nbsp;солёным миндалем и&nbsp;карамелью</div>
                                </a>

                                <a href="product-alpengold-9.html" class="product">
                                    <div class="product-img">
                                        <div
                                            class="product-bg"
                                            style="background: radial-gradient(50% 60.35% at 50% 50%, #f5ab0a 0%, #f5ab0a 0.01%, #c30c38 100%)"
                                        ></div>
                                        <img src="img/products/alpengold/9.webp" alt="Alpen Gold" />
                                    </div>
                                    <div class="product-name">Шоколад молочный с&nbsp;солёным арахисом и&nbsp;крекером</div>
                                </a>

                                <a href="product-alpengold-10.html" class="product">
                                    <div class="product-img">
                                        <div
                                            class="product-bg"
                                            style="background: radial-gradient(50% 60.35% at 50% 50%, #c49789 0.01%, #855343 100%)"
                                        ></div>
                                        <img src="img/products/alpengold/10.webp" alt="Alpen Gold" />
                                    </div>
                                    <div class="product-name">Шоколад молочный с&nbsp;начинкой со&nbsp;вкусом капучино</div>
                                </a>

                                <a href="product-alpengold-11.html" class="product">
                                    <div class="product-img">
                                        <div
                                            class="product-bg"
                                            style="background: radial-gradient(50% 60.35% at 50% 50%, #f2d5df 0.01%, #84d2db 100%)"
                                        ></div>
                                        <img src="img/products/alpengold/11.webp" alt="Alpen Gold" />
                                    </div>
                                    <div class="product-name">Шоколад молочный с&nbsp;кокосом, инжиром и&nbsp;крекером</div>
                                </a>

                                <a href="product-alpengold-12.html" class="product">
                                    <div class="product-img">
                                        <div
                                            class="product-bg"
                                            style="background: radial-gradient(50% 60.35% at 50% 50%, #a97f73 0%, #5d382d 100%)"
                                        ></div>
                                        <img src="img/products/alpengold/12.webp" alt="Alpen Gold" />
                                    </div>
                                    <div class="product-name">Шоколад белый и&nbsp;темный "Два&nbsp;шоколада"</div>
                                </a>

                                <a href="product-alpengold-14.html" class="product">
                                    <div class="product-img">
                                        <div
                                            class="product-bg"
                                            style="background: radial-gradient(50% 60.35% at 50% 50%, #fef9d0 0%, #fef9d0 0.01%, #edd68b 100%)"
                                        ></div>
                                        <img src="img/products/alpengold/14.webp" alt="Alpen Gold" />
                                    </div>
                                    <div class="product-name">Шоколад молочный со&nbsp;вкусом Пинаколада</div>
                                </a>

                                <a href="product-alpengold-13.html" class="product">
                                    <div class="product-img">
                                        <div
                                            class="product-bg"
                                            style="background: radial-gradient(50% 60.35% at 50% 50%, #ffbb81 0%, #ffbb81 0.01%, #f79132 100%)"
                                        ></div>
                                        <img src="img/products/alpengold/13.webp" alt="Alpen Gold" />
                                    </div>
                                    <div class="product-name">Шоколад молочный со&nbsp;вкусом тропического кокоса</div>
                                </a>
                            </div>
                            {% include 'connects/seo-text.html' %}
                        </div>
                    </div>
                </div>
            </div>

            {% include 'footer.html' %} {% include 'popups/popup-markets-main.html' %} {% include 'connects/scripts.html' %}
        </div>
    </body>
</html>
