<!doctype html>
<html lang="ru-RU">
    <head>
        {% include 'connects/meta.html' %}
        <title>Alpen Gold | О компании</title>
        <meta name="description" content="Alpen Gold - это яркие сочетания шоколада с разными ингредиентами. Испытай вкус яркости!" />
        {% include 'connects/styles.html' %} {% include 'analytics.html' %}
    </head>

    <body class="facts-page">
        <div class="facts-page__wrapper">
            <!--HEADER-->
            {% set showLogo = true %} {% set activePage = "facts" %} {% include 'header.html' %}

            <div class="facts-page-content">
                <div class="facts-content">
                    <div class="facts-content-wrapper">
                        <div class="container">
                            <div class="facts-title">БОЛЕЕ 25 ЛЕТ <br />НЕ ПЕРЕСТАЕМ УДИВЛЯТЬ</div>
                            <div class="facts-title2">Аlpen Gold - шоколад № 1 в России*!</div>
                            <div class="fact-wrapper fact1">
                                <div class="fact-img">
                                    <img src="img/facts/fact1.webp" alt="" />
                                </div>
                                <div class="fact-info">
                                    <div class="fact-title">
                                        Alpen Gold стал одним из первых шоколадных брендов в эфире – наша первая реклама вышла на телеэкраны России в
                                        1992 году!
                                    </div>
                                    <div class="fact-text">
                                        Первыми героями рекламного ролика Alpen Gold были… гномы! Которые по сюжету так влюбились во вкус нашего
                                        шоколада, что навсегда потеряли интерес к золоту.
                                    </div>
                                </div>
                            </div>
                            <div class="fact-wrapper fact2">
                                <div class="fact-info">
                                    <div class="fact-title">
                                        Изначально выпускалось всего два вида шоколада Alpen Gold: "Фундук и Изюм" и "Фундук". Линейка постоянно
                                        расширялась, а сегодня – в ней более 25 вкусов!
                                    </div>
                                </div>
                                <div class="fact-img">
                                    <img src="img/facts/fact2.png" alt="" />
                                </div>
                            </div>
                            <!-- <div class="fact-wrapper fact3">
                                <div class="fact-img">
                                    <img src="img/facts/fact3.png" alt="" />
                                </div>
                                <div class="fact-info">
                                    <div class="fact-title">
                                        В 2022 году Alpen Gold спрятал в упаковки золотые шоколадные плитки! Так, в честь празднования нашего Юбилея
                                        тысяча потребителей по всей России попробовали «золотой» шоколад!
                                    </div>
                                </div>
                            </div> -->
                            <div class="facts-slider owl-carousel owl-theme">
                                <div class="facts-slide">
                                    <div class="facts-slide-img">
                                        <img srcset="img/facts/history/1.png 1x, img/facts/history/1@2x.png 2x" alt="" />
                                    </div>
                                    <div class="facts-slide-year">1991</div>
                                </div>
                                <div class="facts-slide">
                                    <div class="facts-slide-img">
                                        <img srcset="img/facts/history/2.png 1x, img/facts/history/2@2x.png 2x" alt="" />
                                    </div>
                                    <div class="facts-slide-year">1996</div>
                                </div>
                                <div class="facts-slide">
                                    <div class="facts-slide-img">
                                        <img srcset="img/facts/history/3.png 1x, img/facts/history/3@2x.png 2x" alt="" />
                                    </div>
                                    <div class="facts-slide-year">2001</div>
                                </div>
                                <div class="facts-slide">
                                    <div class="facts-slide-img">
                                        <img srcset="img/facts/history/4.png 1x, img/facts/history/4@2x.png 2x" alt="" />
                                    </div>
                                    <div class="facts-slide-year">2006</div>
                                </div>
                                <div class="facts-slide">
                                    <div class="facts-slide-img">
                                        <img srcset="img/facts/history/5.png 1x, img/facts/history/5@2x.png 2x" alt="" />
                                    </div>
                                    <div class="facts-slide-year">2013</div>
                                </div>
                                <div class="facts-slide">
                                    <div class="facts-slide-img">
                                        <img srcset="img/facts/history/6.png 1x, img/facts/history/6@2x.png 2x" alt="" />
                                    </div>
                                    <div class="facts-slide-year">2015</div>
                                </div>
                                <div class="facts-slide">
                                    <div class="facts-slide-img">
                                        <img srcset="img/facts/history/7.png 1x, img/facts/history/7@2x.png 2x" alt="" />
                                    </div>
                                    <div class="facts-slide-year">2022</div>
                                </div>
                            </div>
                            <div class="facts-slider-text">Упаковка Alpen Gold <br />пережила 7 ребрендингов</div>
                            <div class="fact-wrapper fact4">
                                <div class="fact-info">
                                    <div class="fact-title">
                                        Первая шоколадная фабрика, производившая Alpen Gold, начала работать в&nbsp;июле 1997&nbsp;года
                                        в&nbsp;г.&nbsp;Покров. На&nbsp;сегодняшний день это одна из&nbsp;крупнейших в&nbsp;мире фабрика
                                        по&nbsp;производству шоколада компании Mondelēz International.
                                    </div>
                                </div>
                                <div class="fact-img">
                                    <img src="img/facts/fact4.png" alt="" />
                                </div>
                            </div>
                            {% include 'connects/seo-text.html' %}
                        </div>
                    </div>
                </div>
            </div>

            {% include 'footer.html' %} {% include 'popups/popup-markets-main.html' %} {% include 'connects/scripts.html' %}
        </div>
    </body>
</html>
