<!doctype html>
<html lang="ru-RU">
    <head>
        {% include 'connects/meta.html' %}
        <title>Alpen Gold DUO</title>
        <meta name="description" content="Alpen Gold - это яркие сочетания шоколада с разными ингредиентами. Испытай вкус яркости!" />
        {% include 'connects/styles.html' %} {% include 'analytics.html' %}
    </head>

    <body class="product-page duo">
        <div class="product-page__wrapper">
            <!--HEADER-->
            {% set showLogo = true %} {% set activePage = "duo" %} {% include 'header.html' %}

            <div class="product-page-content">
                <div class="product-content">
                    <div class="product-content-wrapper">
                        <div
                            class="product-bg mobile-visible"
                            style="background: radial-gradient(50% 60.35% at 50% 50%, #fff0f0 0%, #ffb0b0 100%)"
                        ></div>
                        <div class="container">
                            <div class="breadcrumbs dark">
                                <a href="./">Главная</a>
                                <a href="./#catalog">Продукты</a>
                                <a href="./alpengold-duo.html">Alpen Gold Duo</a>
                                <a href="./product-alpengold-duo-2.html">Белый и молочный</a>
                            </div>
                            <div class="product-wrapper">
                                <div class="product with-slider owl-carousel owl-theme">
                                    <div class="product-img">
                                        <div
                                            class="product-bg desktop-visible"
                                            style="background: radial-gradient(50% 60.35% at 50% 50%, #fff0f0 0%, #ffb0b0 100%)"
                                        ></div>
                                        <img src="img/products/duo/2.webp" alt="Alpen Gold" />
                                        <img src="img/products/duo/decor/2.webp" alt="Alpen Gold" class="product-decor" />
                                    </div>
                                    <div class="product-img standart">
                                        <img src="img/products/duo/2-2.webp" alt="Alpen Gold" />
                                    </div>
                                    <div class="product-img standart">
                                        <img src="img/products/duo/2-3.webp" alt="Alpen Gold" />
                                    </div>
                                    <div class="product-img standart">
                                        <img src="img/products/duo/2-4.webp" alt="Alpen Gold" />
                                    </div>
                                </div>
                                <div class="product-info">
                                    <div class="product-name fs32">
                                        Белый и&nbsp;молочный шоколад Alpen Gold&nbsp;DUO с&nbsp;клубничной начинкой и&nbsp;фруктовыми кусочками
                                        с&nbsp;клубникой,&nbsp;малиной
                                    </div>
                                    <div class="product-weight">130 г</div>
                                    <div class="product-desc">
                                        Шоколад Alpen Gold DUO с&nbsp;клубничной начинкой и&nbsp;фруктовыми кусочками с&nbsp;клубникой и малиной —
                                        это&nbsp;яркий микс молочного и&nbsp;белого шоколада с&nbsp;фруктово-ягодными кусочками. В&nbsp;этой шоколадке
                                        гармонично сочетаются разные текстуры — белый и&nbsp;молочный шоколад с&nbsp;игривой начинкой.
                                        <span>Откройте двойное наслаждение с&nbsp;Alpen Gold DUO!</span>
                                    </div>
                                    <div class="accordion-wrap">
                                        <div class="accordion-item">
                                            <div class="accordion-item-title">Состав</div>
                                            <div class="accordion-item-text">
                                                сахар, жир растительный (масло пальмовое), сыворотка сухая МОЛОЧНАЯ, масло какао, порошок клубничный
                                                (сахар, пюре клубничное, загуститель (пектины)), МОЛОКО сухое цельное, какао тертое, фруктовые кусочки
                                                с клубникой, малиной (сироп глюкозно-фруктозный, сироп глюкозный, агент влагоудерживающий (глицерин),
                                                сахар, волокна ПШЕНИЧНЫЕ пищевые, пюре малиновое, пюре клубничное, регуляторы кислотности (кислота
                                                лимонная, кислота яблочная, Е332(ii)), масло подсолнечное, агент желирующий (пектины), сахар
                                                инвертный, концентраты (моркови, тыквы), ароматизаторы), жир МОЛОЧНЫЙ, масло подсолнечное, эмульгаторы
                                                (лецитин СОЕВЫЙ, E476), МОЛОКО сухое обезжиренное, ароматизаторы, регулятор кислотности (лимонная
                                                кислота).
                                                <br />
                                                <span>МОЖЕТ СОДЕРЖАТЬ СЛЕДЫ ОРЕХОВ.</span><br />
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <div class="accordion-item-title">Пищевая ценность на 100 г</div>
                                            <div class="accordion-item-text">
                                                <div class="product-table dark">
                                                    <p>
                                                        <span>Белки</span>
                                                        <span>3,3 г</span>
                                                    </p>
                                                    <p>
                                                        <span>Углеводы</span>
                                                        <span>61 г</span>
                                                    </p>
                                                    <p>
                                                        <span>Жиры</span>
                                                        <span>31 г</span>
                                                    </p>
                                                    <p>
                                                        <span>Энергетическая ценность</span>
                                                        <span>2268 кДж/ 543 ккал</span>
                                                    </p>
                                                </div>

                                                <span class="disclaimer small">АКТУАЛЬНУЮ ИНФОРМАЦИЮ О&nbsp;ПРОДУКТЕ СМОТРИ НА&nbsp;УПАКОВКЕ</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% include 'connects/seo-text.html' %} {% include 'cart-button.html' %}
                        </div>
                    </div>
                </div>
            </div>

            {% include 'footer.html' %} {% include 'popups/popup-markets-duo.html' %} {% include 'connects/scripts.html' %}
        </div>
    </body>
</html>
