<!doctype html>
<html lang="ru-RU">
    <head>
        {% include 'connects/meta.html' %}
        <title>Шоколадный Батончик Picnic, Классика</title>
        <meta name="description" content="Alpen Gold - это яркие сочетания шоколада с разными ингредиентами. Испытай вкус яркости!" />
        {% include 'connects/styles.html' %} {% include 'analytics.html' %}
    </head>

    <body class="product-page picnic">
        <div class="product-page__wrapper">
            <!--HEADER-->
            {% set showLogo = true %} {% set activePage = "picnic" %} {% include 'header.html' %}

            <div class="product-page-content">
                <div class="product-content">
                    <div class="product-content-wrapper">
                        <div
                            class="product-bg mobile-visible"
                            style="background: radial-gradient(50% 60.35% at 50% 50%, #e6530d 0%, #371865 100%)"
                        ></div>
                        <div class="container">
                            <div class="breadcrumbs">
                                <a href="./">Главная</a>
                                <a href="./#catalog">Продукты</a>
                                <a href="./picnic.html">Picnic</a>
                                <a href="./product-picnic-2.html">Классика</a>
                            </div>
                            <div class="product-wrapper">
                                <div class="product with-slider owl-carousel owl-theme">
                                    <div class="product-img">
                                        <div
                                            class="product-bg desktop-visible"
                                            style="background: radial-gradient(50% 60.35% at 50% 50%, #e6530d 0%, #371865 100%)"
                                        ></div>
                                        <img src="img/products/picnic/2-1m.webp" alt="Alpen Gold Picnic" class="show-img-in-mobil" />
                                        <img src="img/products/picnic/2-1.webp" alt="Alpen Gold Picnic" class="del-img-in-mobil" />
                                    </div>
                                    <div class="product-img second-image">
                                        <img src="img/products/picnic/2-2.webp" alt="Alpen Gold Picnic" />
                                    </div>
                                </div>
                                <div class="product-info">
                                    <div class="product-name">Шоколадный <br />Батончик Picnic, Классика</div>
                                    <div class="product-weight">38 г</div>
                                    <div class="product-desc">
                                        Батончик Picnic Арахис — необычное сочетание обжаренного арахиса, изюма, мягкой карамели, хрустящих вафель,
                                        воздушного риса и&nbsp;молочного шоколада.
                                        <span
                                            >Это микс вкуса для твоего перекуса: возьми с&nbsp;собой на&nbsp;учебу, в&nbsp;дорогу или
                                            на&nbsp;природу!</span
                                        >
                                    </div>
                                    <div class="accordion-wrap">
                                        <div class="accordion-item">
                                            <div class="accordion-item-title">Состав</div>
                                            <div class="accordion-item-text">
                                                Сахар, АРАХИС обжаренный дробленый, изюм, масла растительные (пальмовое, рапсовое), мука ПШЕНИЧНАЯ,
                                                масло какао, воздушный рис (мука рисовая, сахар, ЯЧМЕННО-солодовый экстракт, масло пальмовое, соль),
                                                сыворотка сухая МОЛОЧНАЯ, какао тертое, МОЛОКО сухое цельное, сироп глюкозный, какао-порошок,
                                                эмульгаторы (лецитин СОЕВЫЙ, Е476, Е471), загуститель (Е422), соль, регуляторы кислотности
                                                (гидрокарбонат натрия, кислота лимонная), ароматизаторы, ГРЕЦКИЙ ОРЕХ обжаренный дробленый.
                                                <br /><br />
                                                <span>*МОЖЕТ СОДЕРЖАТЬ СЛЕДЫ ДРУГИХ ОРЕХОВ.</span><br />
                                                <span>*АКТУАЛЬНУЮ ИНФОРМАЦИЮ О&nbsp;ПРОДУКТЕ СМОТРИ НА&nbsp;УПАКОВКЕ</span>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <div class="accordion-item-title">Пищевая ценность на 100 г</div>
                                            <div class="accordion-item-text">
                                                <div class="product-table">
                                                    <p>
                                                        <span>Белки</span>
                                                        <span>7,2 г</span>
                                                    </p>
                                                    <p>
                                                        <span>Углеводы</span>
                                                        <span>57 г</span>
                                                    </p>
                                                    <p>
                                                        <span>Жиры</span>
                                                        <span>24 г</span>
                                                    </p>
                                                    <p>
                                                        <span>Энергетическая ценность</span>
                                                        <span>2011 кДж/ 481 ккал</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% include 'connects/seo-text.html' %} {% include 'cart-button.html' %}
                        </div>
                    </div>
                </div>
            </div>

            {% include 'footer.html' %} {% include 'popups/popup-markets-picnic.html' %} {% include 'connects/scripts.html' %}
        </div>
    </body>
</html>
