<!doctype html>
<html lang="ru-RU">
    <head>
        {% include 'connects/meta.html' %}
        <title>Батончик Picnic MIX</title>
        <meta name="description" content="Alpen Gold - это яркие сочетания шоколада с разными ингредиентами. Испытай вкус яркости!" />
        {% include 'connects/styles.html' %} {% include 'analytics.html' %}
    </head>

    <body class="product-page picnic">
        <div class="product-page__wrapper">
            <!--HEADER-->
            {% set showLogo = true %} {% set activePage = "picnic" %} {% include 'header.html' %}

            <div class="product-page-content">
                <div class="product-content">
                    <div class="product-content-wrapper">
                        <div
                            class="product-bg mobile-visible"
                            style="background: radial-gradient(50% 60.35% at 50% 50%, #e6530d 0%, #371865 91.53%, #371865 100%); height: 350px"
                        ></div>
                        <div class="container">
                            <div class="breadcrumbs">
                                <a href="./">Главная</a>
                                <a href="./#catalog">Продукты</a>
                                <a href="./picnic.html">Picnic</a>
                                <a href="./product-picnic-4.html">Грецкий орех</a>
                            </div>
                            <div class="product-wrapper">
                                <div class="product with-slider owl-carousel owl-theme">
                                    <div class="product-img" style="padding-top: 0px">
                                        <div
                                            class="product-bg desktop-visible"
                                            style="background: radial-gradient(50% 60.35% at 50% 50%, #e6530d 0%, #371865 91.53%, #371865 100%)"
                                        ></div>
                                        <img src="img/products/picnic/4-1.webp" alt="Alpen Gold Picnic" />
                                    </div>
                                    <div class="product-img standart">
                                        <img src="img/products/picnic/4-2.webp" alt="Alpen Gold Picnic" />
                                    </div>
                                    <div class="product-img standart">
                                        <img src="img/products/picnic/4-3.webp" alt="Alpen Gold Picnic" />
                                    </div>
                                    <div class="product-img standart">
                                        <img src="img/products/picnic/4-4.webp" alt="Alpen Gold Picnic" />
                                    </div>
                                    <div class="product-img standart">
                                        <img src="img/products/picnic/4-5.webp" alt="Alpen Gold Picnic" />
                                    </div>
                                </div>
                                <div class="product-info">
                                    <div class="product-name">Шоколад молочный <br />Alpen Gold Picnic MIX</div>
                                    <div class="product-weight">130 г</div>
                                    <div class="product-desc">
                                        Молочный шоколад станет идеальным перекусом для тех, кто ценит разнообразие. Сочетание хрустящего арахиса,
                                        сладкого изюма, легкого воздушного риса и&nbsp;кусочков карамели создает неповторимую текстуру и&nbsp;вкус,
                                        которые порадуют любителей сладкого. <br />
                                        <span>Наслаждайтесь каждым моментом с&nbsp;Альпен Гольд и&nbsp;делайте ваши будни ярче!</span>
                                    </div>
                                    <div class="accordion-wrap">
                                        <div class="accordion-item">
                                            <div class="accordion-item-title">Состав</div>
                                            <div class="accordion-item-text">
                                                Сахар, какао тертое, масло какао, сыворотка сухая МОЛОЧНАЯ, МОЛОКО сухое цельное, АРАХИС обжаренный,
                                                изюм, жир МОЛОЧНЫЙ, вафельная крошка в карамели (мука ПШЕНИЧНАЯ, сахар, масло подсолнечное, сироп
                                                глюкозный, эмульгаторы (лецитин СОЕВЫЙ, лецитин подсолнечный), масло кокосовое, соль, разрыхлитель
                                                (гидрокарбонат натрия)), воздушный рис (мука рисовая, сахар, ЯЧМЕННО-солодовый экстракт, масло
                                                пальмовое, соль), кусочки карамели (содержат МОЛОЧНЫЕ продукты), МОЛОКО сухое обезжиренное,
                                                эмульгаторы (лецитин СОЕВЫЙ, E476), ароматизатор.
                                                <br />
                                                <span>*МОЖЕТ СОДЕРЖАТЬ СЛЕДЫ ОРЕХОВ.</span><br />
                                                <span>*АКТУАЛЬНУЮ ИНФОРМАЦИЮ О&nbsp;ПРОДУКТЕ СМОТРИ НА&nbsp;УПАКОВКЕ</span>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <div class="accordion-item-title">Пищевая ценность на 100 г</div>
                                            <div class="accordion-item-text">
                                                <div class="product-table">
                                                    <p>
                                                        <span>Белки</span>
                                                        <span>6,5 г</span>
                                                    </p>
                                                    <p>
                                                        <span>Углеводы</span>
                                                        <span>59 г</span>
                                                    </p>
                                                    <p>
                                                        <span>Жиры</span>
                                                        <span>27 г</span>
                                                    </p>
                                                    <p>
                                                        <span>Энергетическая ценность</span>
                                                        <span>2143 кДж/ 512 ккал</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% include 'connects/seo-text.html' %} {% include 'cart-button.html' %}
                        </div>
                    </div>
                </div>
            </div>

            {% include 'footer.html' %} {% include 'popups/popup-markets-picnic.html' %} {% include 'connects/scripts.html' %}
        </div>
    </body>
</html>
