<!doctype html>
<html lang="ru-RU">
    <head>
        {% include 'connects/meta.html' %}
        <title>Alpen Gold DUO</title>
        <meta name="description" content="Alpen Gold - это яркие сочетания шоколада с разными ингредиентами. Испытай вкус яркости!" />
        {% include 'connects/styles.html' %} {% include 'analytics.html' %}
    </head>

    <body class="product-page duo">
        <div class="product-page__wrapper">
            <!--HEADER-->
            {% set showLogo = true %} {% set activePage = "duo" %} {% include 'header.html' %}

            <div class="product-page-content">
                <div class="product-content">
                    <div class="product-content-wrapper">
                        <div
                            class="product-bg mobile-visible"
                            style="background: radial-gradient(50% 60.35% at 50% 50%, #f5cdb0 0%, #ce7337 100%)"
                        ></div>
                        <div class="container">
                            <div class="breadcrumbs dark">
                                <a href="./">Главная</a>
                                <a href="./#catalog">Продукты</a>
                                <a href="./alpengold-duo.html">Alpen Gold Duo</a>
                                <a href="./product-alpengold-duo-1.html">Темный и молочный</a>
                            </div>
                            <div class="product-wrapper">
                                <div class="product with-slider owl-carousel owl-theme">
                                    <div class="product-img">
                                        <div
                                            class="product-bg desktop-visible"
                                            style="background: radial-gradient(50% 60.35% at 50% 50%, #f5cdb0 0%, #ce7337 100%)"
                                        ></div>
                                        <img src="img/products/duo/1.webp" alt="Alpen Gold" />
                                        <img src="img/products/duo/decor/1.webp" alt="Alpen Gold" class="product-decor" />
                                    </div>
                                    <div class="product-img standart">
                                        <img src="img/products/duo/1-2.webp" alt="Alpen Gold" />
                                    </div>
                                    <div class="product-img standart">
                                        <img src="img/products/duo/1-3.webp" alt="Alpen Gold" />
                                    </div>
                                    <div class="product-img standart">
                                        <img src="img/products/duo/1-4.webp" alt="Alpen Gold" />
                                    </div>
                                </div>
                                <div class="product-info">
                                    <div class="product-name fs32">
                                        Темный и&nbsp;молочный шоколад Alpen Gold DUO с&nbsp;начинкой с&nbsp;какао, фундуком и&nbsp;вафельной крошкой
                                        в&nbsp;карамели
                                    </div>
                                    <div class="product-weight">130 г</div>
                                    <div class="product-desc">
                                        Откройте для себя уникальное сочетание вкусов с&nbsp;шоколадом Alpen Gold DUO. Идеальный дуэт темного
                                        и&nbsp;молочного шоколада для ценителей сладкого. Молочный и&nbsp;темный шоколад с&nbsp;начинкой
                                        из&nbsp;какао, дробленного фундука и&nbsp;карамелизированной вафельной крошки создают неповторимый вкус.

                                        <span>Попробуйте Alpen Gold DUO и&nbsp;откройте двойное наслаждение!</span>
                                    </div>
                                    <div class="accordion-wrap">
                                        <div class="accordion-item">
                                            <div class="accordion-item-title">Состав</div>
                                            <div class="accordion-item-text">
                                                сахар, какао тертое, жир растительный (масло пальмовое), сыворотка сухая МОЛОЧНАЯ, вафельная крошка в
                                                карамели (мука ПШЕНИЧНАЯ, сахар, масло подсолнечное, сироп глюкозный, эмульгаторы (лецитин СОЕВЫЙ,
                                                лецитин подсолнечный), масло кокосовое, соль, разрыхлитель (гидрокарбонат натрия)), ФУНДУК обжаренный
                                                дробленый, масло какао, МОЛОКО сухое цельное, какао порошок, жир МОЛОЧНЫЙ, ФУНДУК обжаренный тертый,
                                                масло подсолнечное, эмульгаторы (лецитин СОЕВЫЙ, E476), МОЛОКО сухое обезжиренное, ароматизаторы.
                                                <br />
                                                <span>МОЖЕТ СОДЕРЖАТЬ СЛЕДЫ АРАХИСА И&nbsp;ДРУГИХ ОРЕХОВ.</span><br />
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <div class="accordion-item-title">Пищевая ценность на 100 г</div>
                                            <div class="accordion-item-text">
                                                <div class="product-table dark">
                                                    <p>
                                                        <span>Белки</span>
                                                        <span>4,6 г</span>
                                                    </p>
                                                    <p>
                                                        <span>Углеводы</span>
                                                        <span>55 г</span>
                                                    </p>
                                                    <p>
                                                        <span>Жиры</span>
                                                        <span>33 г</span>
                                                    </p>
                                                    <p>
                                                        <span>Энергетическая ценность</span>
                                                        <span>2279 кДж/ 546 ккал</span>
                                                    </p>
                                                </div>

                                                <span class="disclaimer small">АКТУАЛЬНУЮ ИНФОРМАЦИЮ О&nbsp;ПРОДУКТЕ СМОТРИ НА&nbsp;УПАКОВКЕ</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% include 'connects/seo-text.html' %} {% include 'cart-button.html' %}
                        </div>
                    </div>
                </div>
            </div>

            {% include 'footer.html' %} {% include 'popups/popup-markets-duo.html' %} {% include 'connects/scripts.html' %}
        </div>
    </body>
</html>
