<!doctype html>
<html lang="ru-RU">
    <head>
        {% include 'connects/meta.html' %}
        <title>Alpen Gold MAXFUN Молочный с мармеладом со вкусом колы, попкорн и взрывной карамелью</title>
        <meta name="description" content="Alpen Gold - это яркие сочетания шоколада с разными ингредиентами. Испытай вкус яркости!" />
        {% include 'connects/styles.html' %} {% include 'analytics.html' %}
    </head>

    <body class="product-page maxfun">
        <div class="product-page__wrapper">
            <!--HEADER-->
            {% set showLogo = true %} {% set activePage = "maxfun" %} {% include 'header.html' %}

            <div class="product-page-content">
                <div class="product-content">
                    <div class="product-content-wrapper">
                        <div
                            class="product-bg mobile-visible"
                            style="background: radial-gradient(50% 60.35% at 50% 50%, #586daf 0%, #0c2574 100%)"
                        ></div>
                        <div class="container">
                            <div class="breadcrumbs">
                                <a href="./">Главная</a>
                                <a href="./#catalog">Продукты</a>
                                <a href="./alpengold-maxfun.html">Alpen Gold MAXFUN</a>
                                <a href="./product-alpengold-maxfun-2.html">Молочный с мармеладом со вкусом колы, попкорн и взрывной карамелью</a>
                            </div>
                            <div class="product-wrapper">
                                <div class="product with-slider owl-carousel owl-theme">
                                    <div class="product-img">
                                        <div
                                            class="product-bg desktop-visible"
                                            style="background: radial-gradient(50% 60.35% at 50% 50%, #586daf 0%, #0c2574 100%)"
                                        ></div>
                                        <img src="img/products/maxfun/2.webp" alt="Alpen Gold" />
                                        <img src="img/products/maxfun/decor/2.webp" alt="Alpen Gold" class="product-decor" />
                                    </div>
                                    <div class="product-img second-image">
                                        <img src="img/products/maxfun/2-2.webp" alt="Alpen Gold" />
                                    </div>
                                </div>
                                <div class="product-info">
                                    <div class="product-name">
                                        Шоколад молочный с&nbsp;мармеладом со&nbsp;вкусом колы, попкорном и&nbsp;взрывной карамелью
                                    </div>
                                    <div class="product-weight">130 г</div>
                                    <div class="product-desc">
                                        В&nbsp;молочном шоколаде Alpen Gold MAXFUN встретились настоящие символы удовольствия — вкусы колы
                                        и&nbsp;попкорна, а&nbsp;взрывная карамель добавила в&nbsp;него веселья и&nbsp;новых эмоций.
                                        <span>Открывайте вкус веселья и заряжайтесь позитивом вместе с Alpen Gold!</span>
                                    </div>
                                    <div class="accordion-wrap">
                                        <div class="accordion-item">
                                            <div class="accordion-item-title">Состав</div>
                                            <div class="accordion-item-text">
                                                шоколад молочный (сахар, какао тертое, масло какао, сыворотка сухая МОЛОЧНАЯ, МОЛОКО сухое цельное,
                                                жир МОЛОЧНЫЙ, МОЛОКО сухое обезжиренное, эмульгаторы (лецитин СОЕВЫЙ, E476), ароматизатор); мармелад
                                                со вкусом колы (патока крахмальная, сахар, желатин говяжий, агент влагоудерживающий (сироп
                                                сорбитовый), регулятор кислотности (кислота лимонная), масло кокосовое, глазирователь (воск
                                                карнаубский), краситель (Е150d), ароматизатор натуральный, консервант (кислота сорбиновая)); взрывная
                                                карамель (сахар, сироп глюкозный, лактоза (из МОЛОКА)); кукуруза жареная дробленая (кукуруза, масло
                                                подсолнечное, соль, антиокислитель (экстракты розмарина)); попкорн карамелизованный (сахар, кукуруза,
                                                масло подсолнечное, сироп глюкозный, эмульгатор (лецитин рапсовый), ароматизатор).
                                                <br />
                                                <span>*МОЖЕТ СОДЕРЖАТЬ СЛЕДЫ АРАХИСА, ДРУГИХ ОРЕХОВ, ПШЕНИЦЫ.</span><br />
                                                <span>*АКТУАЛЬНУЮ ИНФОРМАЦИЮ О&nbsp;ПРОДУКТЕ СМОТРИ НА&nbsp;УПАКОВКЕ</span>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <div class="accordion-item-title">Пищевая ценность на 100 г</div>
                                            <div class="accordion-item-text">
                                                <div class="product-table">
                                                    <p>
                                                        <span>Белки</span>
                                                        <span>5,2 г</span>
                                                    </p>
                                                    <p>
                                                        <span>Углеводы</span>
                                                        <span>64 г</span>
                                                    </p>
                                                    <p>
                                                        <span>Жиры</span>
                                                        <span>24 г</span>
                                                    </p>
                                                    <p>
                                                        <span>Энергетическая ценность</span>
                                                        <span>2103 кДж/ 502 ккал</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <p class="disclaimer">Попкорн и&nbsp;мармелад в&nbsp;продукте отличаются от&nbsp;изображения на&nbsp;упаковке.</p>
                                </div>
                            </div>
                            {% include 'connects/seo-text.html' %} {% include 'cart-button.html' %}
                        </div>
                    </div>
                </div>
            </div>

            {% include 'footer.html' %} {% include 'popups/popup-markets-maxfun.html' %} {% include 'connects/scripts.html' %}
        </div>
    </body>
</html>
