<!doctype html>
<html lang="ru-RU">
    <head>
        {% include 'connects/meta.html' %}
        <title>Alpen Gold Aerated тёмный пористый</title>
        <meta name="description" content="Alpen Gold - это яркие сочетания шоколада с разными ингредиентами. Испытай вкус яркости!" />
        {% include 'connects/styles.html' %} {% include 'analytics.html' %}
    </head>

    <body class="product-page aero">
        <div class="product-page__wrapper">
            <!--HEADER-->
            {% set showLogo = true %} {% set activePage = "aero" %} {% include 'header.html' %}

            <div class="product-page-content">
                <div class="product-content">
                    <div class="product-content-wrapper">
                        <div
                            class="product-bg mobile-visible"
                            style="background: radial-gradient(50% 60.35% at 50% 50%, #fde9bd 0%, #f49e94 100%)"
                        ></div>
                        <div class="container">
                            <div class="breadcrumbs">
                                <a href="./">Главная</a>
                                <a href="./#catalog">Продукты</a>
                                <a href="./alpengold-aero.html">Alpen Gold Aerated</a>
                                <a href="./product-alpengold-aero-4.html">Шоколад молочный пористый</a>
                            </div>
                            <div class="product-wrapper">
                                <div class="product with-slider owl-carousel owl-theme">
                                    <div class="product-img">
                                        <div
                                            class="product-bg desktop-visible"
                                            style="background: radial-gradient(50% 60.35% at 50% 50%, #fde9bd 0%, #f49e94 100%)"
                                        ></div>
                                        <img src="img/products/aero/4.webp" alt="Alpen Gold" />
                                        <img src="img/products/aero/decor/4.webp" alt="Alpen Gold" class="product-decor" />
                                    </div>
                                    <div class="product-img standart">
                                        <img src="img/products/aero/4-2.webp" alt="Alpen Gold" />
                                    </div>
                                    <div class="product-img standart">
                                        <img src="img/products/aero/4-3.webp" alt="Alpen Gold" />
                                    </div>
                                    <div class="product-img standart">
                                        <img src="img/products/aero/4-4.webp" alt="Alpen Gold" />
                                    </div>
                                    <div class="product-img standart">
                                        <img src="img/products/aero/4-5.webp" alt="Alpen Gold" />
                                    </div>
                                </div>
                                <div class="product-info">
                                    <div class="product-name">Шоколад молочный пористый с&nbsp;начинкой клубника-банан</div>
                                    <div class="product-weight">75 г</div>
                                    <div class="product-desc">
                                        Шоколад молочный пористый Alpen Gold клубника-банан — сочетание яркого вкуса, нежной клубнично-банановой
                                        начинки и&nbsp;невероятно легкой текстуры. В&nbsp;пористом молочном шоколаде заключены тысячи воздушных
                                        пузырьков, которые тают во&nbsp;рту и&nbsp;заряжают позитивом.
                                        <span>Попробуй легкость на&nbsp;вкус вместе с&nbsp;Alpen Gold!</span>
                                    </div>
                                    <div class="accordion-wrap">
                                        <div class="accordion-item">
                                            <div class="accordion-item-title">Состав</div>
                                            <div class="accordion-item-text">
                                                сахар, сыворотка сухая МОЛОЧНАЯ, жир растительный (масло пальмовое), какао тертое, масло какао, МОЛОКО
                                                сухое цельное, жир МОЛОЧНЫЙ, эмульгаторы (лецитин СОЕВЫЙ, E476), МОЛОКО сухое обезжиренное, порошок
                                                клубничный, порошок банановый, ароматизаторы, регулятор кислотности (кислота лимонная).
                                                <br />
                                                <span>*МОЖЕТ СОДЕРЖАТЬ СЛЕДЫ ОРЕХОВ И ПШЕНИЦЫ.</span><br />
                                                <span>*АКТУАЛЬНУЮ ИНФОРМАЦИЮ О&nbsp;ПРОДУКТЕ СМОТРИ НА&nbsp;УПАКОВКЕ</span>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <div class="accordion-item-title">Пищевая ценность на 100 г</div>
                                            <div class="accordion-item-text">
                                                <div class="product-table dark">
                                                    <p>
                                                        <span>Белки</span>
                                                        <span>4,2 г</span>
                                                    </p>
                                                    <p>
                                                        <span>Углеводы</span>
                                                        <span>60 г</span>
                                                    </p>
                                                    <p>
                                                        <span>Жиры</span>
                                                        <span>31 г</span>
                                                    </p>
                                                    <p>
                                                        <span>Энергетическая ценность</span>
                                                        <span>2260 кДж/ 541 ккал</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% include 'connects/seo-text.html' %} {% include 'cart-button.html' %}
                        </div>
                    </div>
                </div>
            </div>

            {% include 'footer.html' %} {% include 'popups/popup-markets-aero.html' %} {% include 'connects/scripts.html' %}
        </div>
    </body>
</html>
