<!doctype html>
<html lang="ru-RU">
    <head>
        {% include 'connects/meta.html' %}
        <title>Alpen Gold Молочный с кокосом, инжиром и крекером</title>
        <meta name="description" content="Alpen Gold - это яркие сочетания шоколада с разными ингредиентами. Испытай вкус яркости!" />
        {% include 'connects/styles.html' %} {% include 'analytics.html' %}
    </head>

    <body class="product-page alpengold">
        <div class="product-page__wrapper">
            <!--HEADER-->
            {% set showLogo = true %} {% set activePage = "alpengold" %} {% include 'header.html' %}

            <div class="product-page-content">
                <div class="product-content">
                    <div class="product-content-wrapper">
                        <div
                            class="product-bg mobile-visible"
                            style="background: radial-gradient(50% 60.35% at 50% 50%, #f2d5df 0.01%, #84d2db 100%)"
                        ></div>
                        <div class="container">
                            <div class="breadcrumbs">
                                <a href="./">Главная</a>
                                <a href="./#catalog">Продукты</a>
                                <a href="./alpengold.html">Alpen Gold</a>
                                <a href="./product-alpengold-11.html">Молочный с кокосом, инжиром и крекером</a>
                            </div>
                            <div class="product-wrapper">
                                <div class="product with-slider owl-carousel owl-theme">
                                    <div class="product-img">
                                        <div
                                            class="product-bg desktop-visible"
                                            style="background: radial-gradient(50% 60.35% at 50% 50%, #f2d5df 0.01%, #84d2db 100%)"
                                        ></div>
                                        <img src="img/products/alpengold/11.webp" alt="Alpen Gold" />
                                        <img
                                            srcset="img/catalog/alpengold/product/decor/11.png 1x, img/catalog/alpengold/product/decor/11@2x.png 2x"
                                            alt=""
                                            class="product-decor"
                                        />
                                    </div>
                                    <div class="product-img second-image">
                                        <img src="img/products/alpengold/11-2.webp" alt="Alpen Gold" />
                                    </div>
                                </div>
                                <div class="product-info">
                                    <div class="product-name">Шоколад молочный с&nbsp;кокосом, инжиром и&nbsp;крекером</div>
                                    <div class="product-weight">80 г</div>
                                    <div class="product-desc">
                                        В этой плитке шоколада Alpen Gold оттенки вкуса раскрываются один за&nbsp;другим: сладость
                                        <b>молочного шоколада</b> дополняется тропическим кокосом, инжиром и хрустящим крекером.
                                        <span>Добавь Alpen Gold в&nbsp;каждый момент!</span>
                                    </div>
                                    <div class="accordion-wrap">
                                        <div class="accordion-item">
                                            <div class="accordion-item-title">Состав</div>
                                            <div class="accordion-item-text">
                                                сахар, какао тертое, масло какао, сыворотка сухая МОЛОЧНАЯ, кусочки инжира сушеного (инжир сушеный,
                                                декстроза), МОЛОКО сухое цельное, стружка кокосовая, крекер соленый дробленый (мука ПШЕНИЧНАЯ, масло
                                                пальмовое, сироп глюкозно-фруктозный, соль, сахар, разрыхлители (гидрокарбонат аммония, гидрокарбонат
                                                натрия), вещество для обработки муки (ПИРОСУЛЬФИТ натрия), антиокислители (аскорбиновая кислота,
                                                E306)), жир МОЛОЧНЫЙ, МОЛОКО сухое обезжиренное, эмульгаторы (лецитин СОЕВЫЙ, Е476), ароматизатор.
                                                <br />
                                                <span>*МОЖЕТ СОДЕРЖАТЬ СЛЕДЫ АРАХИСА И ДРУГИХ ОРЕХОВ.</span><br />
                                                <span>*АКТУАЛЬНУЮ ИНФОРМАЦИЮ О&nbsp;ПРОДУКТЕ СМОТРИ НА&nbsp;УПАКОВКЕ</span>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <div class="accordion-item-title">Пищевая ценность на 100 г</div>
                                            <div class="accordion-item-text">
                                                <div class="product-table">
                                                    <p>
                                                        <span>Белки</span>
                                                        <span>5,4 г</span>
                                                    </p>
                                                    <p>
                                                        <span>Углеводы</span>
                                                        <span>59 г</span>
                                                    </p>
                                                    <p>
                                                        <span>Жиры</span>
                                                        <span>27 г</span>
                                                    </p>
                                                    <p>
                                                        <span>Энергетическая ценность</span>
                                                        <span>2130 кДж/ 509 ккал</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% include 'connects/seo-text.html' %} {% include 'cart-button.html' %}
                        </div>
                    </div>
                </div>
            </div>

            {% include 'footer.html' %} {% include 'popups/popup-markets-main.html' %} {% include 'connects/scripts.html' %}
        </div>
    </body>
</html>
