<!doctype html>
<html lang="ru-RU">
    <head>
        {% include 'connects/meta.html' %}
        <title>Alpen Gold MAXFUN Молочный c фруктово-ягодными кусочками, взрывной карамелью и шипучими шариками</title>
        <meta name="description" content="Alpen Gold - это яркие сочетания шоколада с разными ингредиентами. Испытай вкус яркости!" />
        {% include 'connects/styles.html' %} {% include 'analytics.html' %}
    </head>

    <body class="product-page maxfun">
        <div class="product-page__wrapper">
            <!--HEADER-->
            {% set showLogo = true %} {% set activePage = "maxfun" %} {% include 'header.html' %}

            <div class="product-page-content">
                <div class="product-content">
                    <div class="product-content-wrapper">
                        <div
                            class="product-bg mobile-visible"
                            style="background: radial-gradient(50% 60.35% at 50% 50%, #e4feee 0%, #00b049 100%)"
                        ></div>
                        <div class="container">
                            <div class="breadcrumbs">
                                <a href="./">Главная</a>
                                <a href="./#catalog">Продукты</a>
                                <a href="./alpengold-maxfun.html">Alpen Gold MAXFUN</a>
                                <a href="./product-alpengold-maxfun-3.html"
                                    >Молочный c фруктово-ягодными кусочками, взрывной карамелью и шипучими шариками</a
                                >
                            </div>
                            <div class="product-wrapper">
                                <div class="product with-slider owl-carousel owl-theme">
                                    <div class="product-img">
                                        <div
                                            class="product-bg desktop-visible"
                                            style="background: radial-gradient(50% 60.35% at 50% 50%, #e4feee 0%, #00b049 100%)"
                                        ></div>
                                        <img src="img/products/maxfun/3.webp" alt="Alpen Gold" />
                                        <img src="img/products/maxfun/decor/3.webp" alt="Alpen Gold" class="product-decor" />
                                    </div>
                                    <div class="product-img second-image">
                                        <img src="img/products/maxfun/3-2.webp" alt="Alpen Gold" />
                                    </div>
                                </div>
                                <div class="product-info">
                                    <div class="product-name">
                                        Шоколад молочный c&nbsp;фруктово-ягодными кусочками, взрывной карамелью и&nbsp;шипучими шариками
                                    </div>
                                    <div class="product-weight">130 г</div>
                                    <div class="product-desc">
                                        Шоколад молочный АЛЬПЕН ГОЛЬД МАКСФАН — это яркое и&nbsp;необычное сочетание молочного шоколада, взрывной
                                        карамели, шипучих рисовых шариков и&nbsp;фруктово-ягодных кусочков!
                                        <span>Поймай взрывной вкус веселья вместе с&nbsp;Alpen Gold!</span>
                                    </div>
                                    <div class="accordion-wrap">
                                        <div class="accordion-item">
                                            <div class="accordion-item-title">Состав</div>
                                            <div class="accordion-item-text">
                                                шоколад молочный (сахар, какао тертое, масло какао, сыворотка сухая МОЛОЧНАЯ, МОЛОКО сухое цельное,
                                                жир МОЛОЧНЫЙ, МОЛОКО сухое обезжиренное, эмульгаторы (лецитин СОЕВЫЙ, Е476), ароматизатор);
                                                фруктово-ягодные кусочки со вкусом клубники, малины, черники, черной смородины (пюре яблочное
                                                концентрированное, пюре ягодное (малина, клубника, черника, черная смородина), сироп
                                                глюкозно-фруктозный, сироп глюкозный, сахар, агент влагоудерживающий (глицерин), волокна ПШЕНИЧНЫЕ
                                                пищевые, жир растительный (масло пальмовое), желирующий агент (пектины), регуляторы кислотности
                                                (кислота яблочная, кислота лимонная), концентрат сока моркови, концентрат сока черники, натуральный
                                                ароматизатор); шипучие рисовые шарики со вкусом малины (сахар, мука рисовая, масло какао, регуляторы
                                                кислотности (кислота лимонная, гидрокарбонат натрия), МОЛОКО сухое цельное, лактоза (из МОЛОКА),
                                                концентрат редиса красного, загуститель (гуммиарабик), МОЛОКО сухое обезжиренное, сироп глюкозный,
                                                эмульгатор (лецитины), соль, концентрат яблочного сока, концентрат сока черной смородины,
                                                ароматизатор); кусочки карамели со вкусом малины (сахар, глюкозный сироп, фруктоза, антиокислитель
                                                (аскорбиновая кислота), натуральный ароматизатор, масло кокосовое, концентрат черной моркови);
                                                взрывная карамель (сахар, сироп глюкозный, лактоза (из МОЛОКА)).
                                                <br />
                                                <span>МОЖЕТ СОДЕРЖАТЬ СЛЕДЫ АРАХИСА И ДРУГИХ ОРЕХОВ.</span><br />
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <div class="accordion-item-title">Пищевая ценность на 100 г</div>
                                            <div class="accordion-item-text">
                                                <div class="product-table">
                                                    <p>
                                                        <span>Белки</span>
                                                        <span>4,7 г</span>
                                                    </p>
                                                    <p>
                                                        <span>Углеводы</span>
                                                        <span>64 г</span>
                                                    </p>
                                                    <p>
                                                        <span>Жиры</span>
                                                        <span>24 г</span>
                                                    </p>
                                                    <p>
                                                        <span>Энергетическая ценность</span>
                                                        <span>2106 кДж/ 505 ккал</span>
                                                    </p>
                                                </div>

                                                <span class="disclaimer small">АКТУАЛЬНУЮ ИНФОРМАЦИЮ О&nbsp;ПРОДУКТЕ СМОТРИ НА&nbsp;УПАКОВКЕ</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% include 'connects/seo-text.html' %} {% include 'cart-button.html' %}
                        </div>
                    </div>
                </div>
            </div>

            {% include 'footer.html' %} {% include 'popups/popup-markets-maxfun.html' %} {% include 'connects/scripts.html' %}
        </div>
    </body>
</html>
