<!doctype html>
<html lang="ru-RU">
    <head>
        {% include 'connects/meta.html' %}
        <title>Alpen Gold Молочный со вкусом чизкейка с добавлением сухого сыра и кусочками печенья Oreo</title>
        <meta name="description" content="Alpen Gold - это яркие сочетания шоколада с разными ингредиентами. Испытай вкус яркости!" />
        {% include 'connects/styles.html' %} {% include 'analytics.html' %}
    </head>

    <body class="product-page oreo">
        <div class="product-page__wrapper">
            <!--HEADER-->
            {% set showLogo = true %} {% set activePage = "oreo" %} {% include 'header.html' %}

            <div class="product-page-content">
                <div class="product-content">
                    <div class="product-content-wrapper">
                        <div
                            class="product-bg mobile-visible"
                            style="background: radial-gradient(50% 60.35% at 50% 50%, #e89a49 0%, #0a388d 100%)"
                        ></div>
                        <div class="container">
                            <div class="breadcrumbs">
                                <a href="./">Главная</a>
                                <a href="./#catalog">Продукты</a>
                                <a href="./alpengold-oreo.html">Alpen Gold Oreo</a>
                                <a href="./product-alpengold-oreo-3.html"
                                    >Молочный со вкусом чизкейка с добавлением сухого сыра и кусочками печенья Oreo</a
                                >
                            </div>
                            <div class="product-wrapper">
                                <div class="product with-slider owl-carousel owl-theme">
                                    <div class="product-img">
                                        <div
                                            class="product-bg desktop-visible"
                                            style="background: radial-gradient(50% 60.35% at 50% 50%, #e89a49 0%, #0a388d 100%)"
                                        ></div>
                                        <img srcset="img/products/oreo/3.webp" alt="Alpen Gold" />
                                        <img src="img/products/oreo/decor/3.webp" alt="Alpen Gold" class="product-decor" />
                                    </div>
                                    <div class="product-img second-image">
                                        <img srcset="img/products/oreo/3-2.webp" alt="Alpen Gold" />
                                    </div>
                                </div>
                                <div class="product-info">
                                    <div class="product-name">
                                        Шоколад молочный с&nbsp;начинкой со&nbsp;вкусом чизкейка и&nbsp;кусочками печенья OREO
                                    </div>
                                    <div class="product-weight">85 г</div>
                                    <div class="product-desc">
                                        Шоколад Alpen Gold OREO с&nbsp;начинкой со&nbsp;вкусом чизкейка и&nbsp;кусочками печенья открывает новые грани
                                        сладости благодаря вкусовым ноткам любимого многими сырного десерта.
                                        <span>Это выигрышная комбинация, в&nbsp;которую сложно не&nbsp;влюбиться!</span>
                                    </div>
                                    <div class="accordion-wrap">
                                        <div class="accordion-item">
                                            <div class="accordion-item-title">Состав</div>
                                            <div class="accordion-item-text">
                                                сахар, печенье дробленое «Орео» (мука ПШЕНИЧНАЯ, сахар, масло пальмовое, какао-порошок, сироп
                                                глюкозно-фруктозный, крахмал кукурузный, разрыхлители (гидрокарбонат аммония, гидрокарбонат натрия),
                                                соль, эмульгатор (лецитин СОЕВЫЙ), регуляторы кислотности (Е503(i), Е524), ароматизатор), жир
                                                растительный (масло пальмовое), сыворотка сухая МОЛОЧНАЯ, какао тертое, масло какао, МОЛОКО сухое
                                                цельное, жир МОЛОЧНЫЙ, СЫР сухой, СЛИВКИ сухие, МОЛОКО сухое обезжиренное, эмульгаторы (лецитин
                                                СОЕВЫЙ, Е476), ароматизаторы («классический чизкейк», «ванилин»).
                                                <br />
                                                <span>*МОЖЕТ СОДЕРЖАТЬ СЛЕДЫ АРАХИСА И ДРУГИХ ОРЕХОВ.</span><br />
                                                <span>*АКТУАЛЬНУЮ ИНФОРМАЦИЮ О&nbsp;ПРОДУКТЕ СМОТРИ НА&nbsp;УПАКОВКЕ</span>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <div class="accordion-item-title">Пищевая ценность на 100 г</div>
                                            <div class="accordion-item-text">
                                                <div class="product-table">
                                                    <p>
                                                        <span>Белки</span>
                                                        <span>4,6 г</span>
                                                    </p>
                                                    <p>
                                                        <span>Углеводы</span>
                                                        <span>60 г</span>
                                                    </p>
                                                    <p>
                                                        <span>Жиры</span>
                                                        <span>30 г</span>
                                                    </p>
                                                    <p>
                                                        <span>Энергетическая ценность</span>
                                                        <span>2243 кДж/ 537 ккал</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% include 'connects/seo-text.html' %} {% include 'cart-button.html' %}
                        </div>
                    </div>
                </div>
            </div>

            {% include 'footer.html' %} {% include 'popups/popup-markets-oreo.html' %} {% include 'connects/scripts.html' %}
        </div>
    </body>
</html>
