<!doctype html>
<html lang="ru-RU">
    <head>
        {% include 'connects/meta.html' %}
        <title>Alpen Gold молочный со вкусом Пинаколада</title>
        <meta name="description" content="Alpen Gold - это яркие сочетания шоколада с разными ингредиентами. Испытай вкус яркости!" />
        {% include 'connects/styles.html' %} {% include 'analytics.html' %}
    </head>

    <body class="product-page alpengold">
        {% include 'noscript.html' %}
        <div class="product-page__wrapper">
            <!--HEADER-->
            {% set showLogo = true %} {% set activePage = "alpengold" %} {% include 'header.html' %}

            <div class="product-page-content">
                <div class="product-content">
                    <div class="product-content-wrapper">
                        <div
                            class="product-bg mobile-visible"
                            style="background: radial-gradient(50% 60.35% at 50% 50%, #fef9d0 0%, #edd68b 100%)"
                        ></div>
                        <div class="container">
                            <div class="breadcrumbs">
                                <a href="./">Главная</a>
                                <a href="./#catalog">Продукты</a>
                                <a href="./alpengold.html">Alpen Gold</a>
                                <a href="./product-alpengold-14.html">Пинаколада в белом шоколаде</a>
                            </div>
                            <div class="product-wrapper">
                                <div class="product with-slider owl-carousel owl-theme">
                                    <div class="product-img">
                                        <div
                                            class="product-bg desktop-visible"
                                            style="background: radial-gradient(50% 60.35% at 50% 50%, #fef9d0 0%, #edd68b 100%)"
                                        ></div>
                                        <img src="img/products/alpengold/14.webp" alt="Alpen Gold" />
                                        <img
                                            srcset="img/catalog/alpengold/product/decor/14.png 1x, img/catalog/alpengold/product/decor/14@2x.png 2x"
                                            alt=""
                                            class="product-decor"
                                        />
                                    </div>
                                    <div class="product-img second-image">
                                        <img src="img/products/alpengold/14-2.webp" alt="Alpen Gold" />
                                    </div>
                                </div>
                                <div class="product-info">
                                    <div class="product-name">Шоколад белый "Пинаколада в&nbsp;белом шоколаде"</div>
                                    <div class="product-weight">80 г</div>
                                    <div class="product-desc">
                                        Alpen Gold "Пинаколада в&nbsp;белом шоколаде" — яркий микс вкусов тропических фруктов, шоколада, кокоса
                                        и&nbsp;воздушного риса. В&nbsp;ассортименте Alpen Gold представлены как классические сочетания,
                                        так&nbsp;и&nbsp;необычные миксы.
                                        <span>Добавь Alpen Gold в&nbsp;каждый момент!</span>
                                    </div>
                                    <div class="accordion-wrap">
                                        <div class="accordion-item">
                                            <div class="accordion-item-title">Состав</div>
                                            <div class="accordion-item-text">
                                                сахар, масло какао, сыворотка сухая МОЛОЧНАЯ, МОЛОКО сухое цельное, фруктовые кусочки со вкусом манго,
                                                ананаса, маракуйи (пюре яблочное концентрированное, сироп глюкозно-фруктозный, сироп глюкозный, сахар,
                                                концентраты соков (ананас, маракуйя), пюре манго концентрированное, волокна ПШЕНИЧНЫЕ, регулятор
                                                кислотности (кислота лимонная), желирующий агент (пектины), жир растительный (масло пальмовое),
                                                ароматизаторы натуральные); стружка кокосовая, жир МОЛОЧНЫЙ, воздушный рис (мука рисовая, сахар,
                                                ЯЧМЕННО-солодовый экстракт, масло пальмовое, соль); эмульгаторы (лецитин СОЕВЫЙ, E476), ароматизатор.
                                                <br />
                                                <span>МОЖЕТ СОДЕРЖАТЬ СЛЕДЫ АРАХИСА И ДРУГИХ ОРЕХОВ.</span><br />
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <div class="accordion-item-title">Пищевая ценность на 100 г</div>
                                            <div class="accordion-item-text">
                                                <div class="product-table">
                                                    <p>
                                                        <span>Белки</span>
                                                        <span>4,4 г</span>
                                                    </p>
                                                    <p>
                                                        <span>Углеводы</span>
                                                        <span>64 г</span>
                                                    </p>
                                                    <p>
                                                        <span>Жиры</span>
                                                        <span>27 г</span>
                                                    </p>
                                                    <p>
                                                        <span>Энергетическая ценность</span>
                                                        <span>2182 кДж/ 521 ккал</span>
                                                    </p>
                                                </div>

                                                <span class="disclaimer small">АКТУАЛЬНУЮ ИНФОРМАЦИЮ О&nbsp;ПРОДУКТЕ СМОТРИ НА&nbsp;УПАКОВКЕ</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% include 'connects/seo-text.html' %} {% include 'cart-button.html' %}
                        </div>
                    </div>
                </div>
            </div>

            {% include 'footer.html' %} {% include 'popups/popup-markets-main.html' %} {% include 'connects/scripts.html' %}
        </div>
    </body>
</html>
