<!doctype html>
<html lang="ru-RU">
    <head>
        {% include 'connects/meta.html' %}
        <title>Alpen Gold молочный "Тропический кокос"</title>
        <meta name="description" content="Alpen Gold - это яркие сочетания шоколада с разными ингредиентами. Испытай вкус яркости!" />
        {% include 'connects/styles.html' %} {% include 'analytics.html' %}
    </head>

    <body class="product-page alpengold">
        <div class="product-page__wrapper">
            <!--HEADER-->
            {% set showLogo = true %} {% set activePage = "alpengold" %} {% include 'header.html' %}

            <div class="product-page-content">
                <div class="product-content">
                    <div class="product-content-wrapper">
                        <div
                            class="product-bg mobile-visible"
                            style="background: radial-gradient(50% 60.35% at 50% 50%, #ffbb81 0%, #f79132 100%)"
                        ></div>
                        <div class="container">
                            <div class="breadcrumbs">
                                <a href="./">Главная</a>
                                <a href="./#catalog">Продукты</a>
                                <a href="./alpengold.html">Alpen Gold</a>
                                <a href="./product-alpengold-13.html">Тропический кокос</a>
                            </div>
                            <div class="product-wrapper">
                                <div class="product with-slider owl-carousel owl-theme">
                                    <div class="product-img">
                                        <div
                                            class="product-bg desktop-visible"
                                            style="background: radial-gradient(50% 60.35% at 50% 50%, #ffbb81 0%, #f79132 100%)"
                                        ></div>
                                        <img src="img/products/alpengold/13.webp" alt="Alpen Gold" />
                                        <img
                                            srcset="img/catalog/alpengold/product/decor/13.png 1x, img/catalog/alpengold/product/decor/13@2x.png 2x"
                                            alt=""
                                            class="product-decor"
                                        />
                                    </div>
                                    <div class="product-img second-image">
                                        <img src="img/products/alpengold/13-2.webp" alt="Alpen Gold" />
                                    </div>
                                </div>
                                <div class="product-info">
                                    <div class="product-name">Шоколад молочный "Тропический кокос"</div>
                                    <div class="product-weight">80 г</div>
                                    <div class="product-desc">
                                        Alpen Gold "Тропический кокос" — яркий микс кусочков со&nbsp;вкусом сочных тропических фруктов, легкого
                                        воздушного риса, молочного шоколада и&nbsp;кокосовой стружки. Шоколад дарит сладкое удовольствие в&nbsp;каждом
                                        кусочке и&nbsp;приглашает к&nbsp;вкусным открытиям!
                                        <span>Добавь Alpen Gold в&nbsp;каждый момент!</span>
                                    </div>
                                    <div class="accordion-wrap">
                                        <div class="accordion-item">
                                            <div class="accordion-item-title">Состав</div>
                                            <div class="accordion-item-text">
                                                сахар, какао тертое, масло какао, сыворотка сухая МОЛОЧНАЯ, МОЛОКО сухое цельное, фруктовые кусочки со
                                                вкусом манго, ананаса, маракуйи (пюре яблочное концентрированное, сироп глюкозно-фруктозный, сироп
                                                глюкозный, сахар, концентраты соков (ананас, маракуйя), пюре манго концентрированное, волокна
                                                ПШЕНИЧНЫЕ, регулятор кислотности (кислота лимонная), желирующий агент (пектины), жир растительный
                                                (масло пальмовое), ароматизаторы натуральные); стружка кокосовая, жир МОЛОЧНЫЙ, воздушный рис (мука
                                                рисовая, сахар, ЯЧМЕННО-солодовый экстракт, масло пальмовое, соль), МОЛОКО сухое обезжиренное,
                                                эмульгаторы (лецитин СОЕВЫЙ, E476), ароматизатор.
                                                <br />
                                                <span>МОЖЕТ СОДЕРЖАТЬ СЛЕДЫ АРАХИСА И ДРУГИХ ОРЕХОВ.</span><br />
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <div class="accordion-item-title">Пищевая ценность на 100 г</div>
                                            <div class="accordion-item-text">
                                                <div class="product-table">
                                                    <p>
                                                        <span>Белки</span>
                                                        <span>5,1 г</span>
                                                    </p>
                                                    <p>
                                                        <span>Углеводы</span>
                                                        <span>60 г</span>
                                                    </p>
                                                    <p>
                                                        <span>Жиры</span>
                                                        <span>27 г</span>
                                                    </p>
                                                    <p>
                                                        <span>Энергетическая ценность</span>
                                                        <span>2153 кДж/ 515 ккал</span>
                                                    </p>
                                                </div>

                                                <span class="disclaimer small">АКТУАЛЬНУЮ ИНФОРМАЦИЮ О&nbsp;ПРОДУКТЕ СМОТРИ НА&nbsp;УПАКОВКЕ</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% include 'connects/seo-text.html' %} {% include 'cart-button.html' %}
                        </div>
                    </div>
                </div>
            </div>

            {% include 'footer.html' %} {% include 'popups/popup-markets-main.html' %} {% include 'connects/scripts.html' %}
        </div>
    </body>
</html>
