<!doctype html>
<html lang="ru-RU">
    <head>
        {% include 'connects/meta.html' %}
        <title>Alpen Gold Молочный с дроблёным фундуком</title>
        <meta name="description" content="Alpen Gold - это яркие сочетания шоколада с разными ингредиентами. Испытай вкус яркости!" />
        {% include 'connects/styles.html' %} {% include 'analytics.html' %}
    </head>

    <body class="product-page alpengold">
        <div class="product-page__wrapper">
            <!--HEADER-->
            {% set showLogo = true %} {% set activePage = "alpengold" %} {% include 'header.html' %}

            <div class="product-page-content">
                <div class="product-content">
                    <div class="product-content-wrapper">
                        <div
                            class="product-bg mobile-visible"
                            style="background: radial-gradient(50% 60.35% at 50% 50%, #e6f0d5 0%, #0a7e3c 100%)"
                        ></div>
                        <div class="container">
                            <div class="breadcrumbs">
                                <a href="./">Главная</a>
                                <a href="./#catalog">Продукты</a>
                                <a href="./alpengold.html">Alpen Gold</a>
                                <a href="./product-alpengold-1.html">Молочный с дроблёным фундуком</a>
                            </div>
                            <div class="product-wrapper">
                                <div class="product with-slider owl-carousel owl-theme">
                                    <div class="product-img">
                                        <div
                                            class="product-bg desktop-visible"
                                            style="background: radial-gradient(50% 60.35% at 50% 50%, #e6f0d5 0%, #0a7e3c 100%)"
                                        ></div>
                                        <img src="img/products/alpengold/1.webp" alt="Alpen Gold" />
                                        <img src="img/products/alpengold/decor/1.webp" alt="Alpen Gold" class="product-decor" />
                                    </div>
                                    <div class="product-img second-image">
                                        <img src="img/products/alpengold/1-2.webp" alt="Alpen Gold" />
                                    </div>
                                </div>
                                <div class="product-info">
                                    <div class="product-name">Шоколад молочный с&nbsp;дроблёным фундуком</div>
                                    <div class="product-weight">80 г</div>
                                    <div class="product-desc">
                                        Alpen Gold с&nbsp;дробленым фундуком — микс молочного шоколада и&nbsp;хрустящего фундука с&nbsp;приятным
                                        ореховым послевкусием. В&nbsp;ассортименте Alpen Gold представлен классический шоколад и&nbsp;необычные
                                        сочетания.
                                        <span>Добавь Alpen Gold в&nbsp;каждый момент!</span>
                                    </div>
                                    <div class="accordion-wrap">
                                        <div class="accordion-item">
                                            <div class="accordion-item-title">Состав</div>
                                            <div class="accordion-item-text">
                                                сахар, какао тертое, масло какао, сыворотка сухая МОЛОЧНАЯ, МОЛОКО сухое цельное, ФУНДУК обжаренный
                                                дробленый, жир МОЛОЧНЫЙ, МОЛОКО сухое обезжиренное, эмульгаторы (лецитин СОЕВЫЙ, E476), ароматизатор.
                                                <br />
                                                <span>*МОЖЕТ СОДЕРЖАТЬ СЛЕДЫ АРАХИСА, ДРУГИХ ОРЕХОВ И ПШЕНИЦЫ.</span><br />
                                                <span>*АКТУАЛЬНУЮ ИНФОРМАЦИЮ О&nbsp;ПРОДУКТЕ СМОТРИ НА&nbsp;УПАКОВКЕ</span>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <div class="accordion-item-title">Пищевая ценность на 100 г</div>
                                            <div class="accordion-item-text">
                                                <div class="product-table">
                                                    <p>
                                                        <span>Белки</span>
                                                        <span>6 г</span>
                                                    </p>
                                                    <p>
                                                        <span>Углеводы</span>
                                                        <span>58 г</span>
                                                    </p>
                                                    <p>
                                                        <span>Жиры</span>
                                                        <span>30 г</span>
                                                    </p>
                                                    <p>
                                                        <span>Энергетическая ценность</span>
                                                        <span>2220 кДж/ 531 ккал</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% include 'connects/seo-text.html' %} {% include 'cart-button.html' %}
                        </div>
                    </div>
                </div>
            </div>

            {% include 'footer.html' %} {% include 'popups/popup-markets-main.html' %} {% include 'connects/scripts.html' %}
        </div>
    </body>
</html>
