<!doctype html>
<html lang="ru-RU">
    <head>
        {% include 'connects/meta.html' %}
        <title>Alpen Gold Белый с миндалём и кокосовой стружкой</title>
        <meta name="description" content="Alpen Gold - это яркие сочетания шоколада с разными ингредиентами. Испытай вкус яркости!" />
        {% include 'connects/styles.html' %} {% include 'analytics.html' %}
    </head>

    <body class="product-page alpengold">
        {% include 'noscript.html' %}
        <div class="product-page__wrapper">
            <!--HEADER-->
            {% set showLogo = true %} {% set activePage = "alpengold" %} {% include 'header.html' %}

            <div class="product-page-content">
                <div class="product-content">
                    <div class="product-content-wrapper">
                        <div
                            class="product-bg mobile-visible"
                            style="background: radial-gradient(50% 60.35% at 50% 50%, #edf1f9 0%, #e7c078 100%)"
                        ></div>
                        <div class="container">
                            <div class="breadcrumbs">
                                <a href="./">Главная</a>
                                <a href="./#catalog">Продукты</a>
                                <a href="./alpengold.html">Alpen Gold</a>
                                <a href="./product-alpengold-7.html">Белый с миндалём и кокосовой стружкой</a>
                            </div>
                            <div class="product-wrapper">
                                <div class="product with-slider owl-carousel owl-theme">
                                    <div class="product-img">
                                        <div
                                            class="product-bg desktop-visible"
                                            style="background: radial-gradient(50% 60.35% at 50% 50%, #edf1f9 0%, #e7c078 100%)"
                                        ></div>
                                        <img src="img/products/alpengold/7.webp" alt="Alpen Gold" />
                                        <img
                                            srcset="img/catalog/alpengold/product/decor/7.png 1x, img/catalog/alpengold/product/decor/7@2x.png 2x"
                                            alt=""
                                            class="product-decor"
                                        />
                                    </div>
                                    <div class="product-img second-image">
                                        <img src="img/products/alpengold/7-2.webp" alt="Alpen Gold" />
                                    </div>
                                </div>
                                <div class="product-info">
                                    <div class="product-name">Шоколад белый с&nbsp;миндалём и&nbsp;кокосовой стружкой</div>
                                    <div class="product-weight">80 г</div>
                                    <div class="product-desc">
                                        Белый шоколад Alpen Gold с&nbsp;кокосовой стружкой и&nbsp;миндалем — сочетание шоколада, хрустящего миндаля
                                        и&nbsp;ароматного кокоса. В&nbsp;ассортименте Alpen Gold представлены как классические вкусы шоколада,
                                        так&nbsp;и&nbsp;необычные миксы.
                                        <span>Добавь Alpen Gold в&nbsp;каждый момент! </span>
                                    </div>
                                    <div class="accordion-wrap">
                                        <div class="accordion-item">
                                            <div class="accordion-item-title">Состав</div>
                                            <div class="accordion-item-text">
                                                сахар, масло какао, сыворотка сухая МОЛОЧНАЯ, МОЛОКО сухое цельное, МИНДАЛЬ обжаренный дробленый,
                                                стружка кокосовая, жир МОЛОЧНЫЙ, эмульгаторы (лецитин СОЕВЫЙ, E476), ароматизатор.
                                                <br />
                                                <span>МОЖЕТ СОДЕРЖАТЬ СЛЕДЫ АРАХИСА, ДРУГИХ ОРЕХОВ И ПШЕНИЦЫ.</span><br />
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <div class="accordion-item-title">Пищевая ценность на 100 г</div>
                                            <div class="accordion-item-text">
                                                <div class="product-table">
                                                    <p>
                                                        <span>Белки</span>
                                                        <span>5,5 г</span>
                                                    </p>
                                                    <p>
                                                        <span>Углеводы</span>
                                                        <span>60 г</span>
                                                    </p>
                                                    <p>
                                                        <span>Жиры</span>
                                                        <span>30 г</span>
                                                    </p>
                                                    <p>
                                                        <span>Энергетическая ценность</span>
                                                        <span>2258 кДж/ 540 ккал</span>
                                                    </p>
                                                </div>

                                                <span class="disclaimer small">АКТУАЛЬНУЮ ИНФОРМАЦИЮ О&nbsp;ПРОДУКТЕ СМОТРИ НА&nbsp;УПАКОВКЕ</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% include 'connects/seo-text.html' %} {% include 'cart-button.html' %}
                        </div>
                    </div>
                </div>
            </div>

            {% include 'footer.html' %} {% include 'popups/popup-markets-main.html' %} {% include 'connects/scripts.html' %}
        </div>
    </body>
</html>
