<!doctype html>
<html lang="ru-RU">
    <head>
        {% include 'connects/meta.html' %}
        <title>Alpen Gold MAXFUN Молочный c фруктовыми кусочками, взрывной карамелью и шипучими шариками</title>
        <meta name="description" content="Alpen Gold - это яркие сочетания шоколада с разными ингредиентами. Испытай вкус яркости!" />
        {% include 'connects/styles.html' %} {% include 'analytics.html' %}
    </head>

    <body class="product-page maxfun">
        <div class="product-page__wrapper">
            <!--HEADER-->
            {% set showLogo = true %} {% set activePage = "maxfun" %} {% include 'header.html' %}

            <div class="product-page-content">
                <div class="product-content">
                    <div class="product-content-wrapper">
                        <div
                            class="product-bg mobile-visible"
                            style="background: radial-gradient(50% 60.35% at 50% 50%, #edf1f9 0%, #fe842a 100%)"
                        ></div>
                        <div class="container">
                            <div class="breadcrumbs">
                                <a href="./">Главная</a>
                                <a href="./#catalog">Продукты</a>
                                <a href="./alpengold-maxfun.html">Alpen Gold MAXFUN</a>
                                <a href="./product-alpengold-maxfun-4.html"
                                    >Молочный c фруктовыми кусочками, взрывной карамелью и шипучими шариками</a
                                >
                            </div>
                            <div class="product-wrapper">
                                <div class="product with-slider owl-carousel owl-theme">
                                    <div class="product-img">
                                        <div
                                            class="product-bg desktop-visible"
                                            style="background: radial-gradient(50% 60.35% at 50% 50%, #edf1f9 0%, #fe842a 100%)"
                                        ></div>
                                        <img src="img/products/maxfun/4.webp" alt="Alpen Gold" />
                                        <img src="img/products/maxfun/decor/4.webp" alt="Alpen Gold" class="product-decor" />
                                    </div>
                                    <div class="product-img second-image">
                                        <img src="img/products/maxfun/4-2.webp" alt="Alpen Gold" />
                                    </div>
                                </div>
                                <div class="product-info">
                                    <div class="product-name">
                                        Шоколад молочный c&nbsp;фруктовыми кусочками, взрывной карамелью и&nbsp;шипучими шариками
                                    </div>
                                    <div class="product-weight">130 г</div>
                                    <div class="product-desc">
                                        Alpen Gold MAXFUN — это сюрприз в&nbsp;каждом кусочке. Молочный шоколад великолепно сочетается с&nbsp;ярким
                                        вкусом тропических фруктов, а&nbsp;взрывная карамель и&nbsp;шипучие рисовые шарики добавляют веселья.
                                        <span>Поймай взрывной вкус веселья вместе с&nbsp;Alpen Gold!</span>
                                    </div>
                                    <div class="accordion-wrap">
                                        <div class="accordion-item">
                                            <div class="accordion-item-title">Состав</div>
                                            <div class="accordion-item-text">
                                                шоколад молочный (сахар, какао тертое, масло какао, сыворотка сухая МОЛОЧНАЯ, МОЛОКО сухое цельное,
                                                жир МОЛОЧНЫЙ, МОЛОКО сухое обезжиренное, эмульгаторы (лецитин СОЕВЫЙ, Е476), ароматизатор); фруктовые
                                                кусочки со вкусом манго, ананаса, маракуйи (пюре яблочное концентрированное, сироп
                                                глюкозно-фруктозный, сироп глюкозный, сахар, концентраты соков (ананас, маракуйя), пюре манго
                                                концентрированное, волокна ПШЕНИЧНЫЕ пищевые, жир растительный (масло пальмовое), желирующий агент
                                                (пектин), регулятор кислотности (кислота лимонная), ароматизаторы натуральные); взрывная карамель
                                                (сахар, сироп глюкозный, лактоза (из МОЛОКА)); шипучие рисовые шарики со вкусом малины, клубники,
                                                лимона, лайма, апельсина (сахар, мука рисовая, масло какао, регуляторы кислотности (кислота лимонная,
                                                гидрокарбонат натрия), МОЛОКО сухое цельное, лактоза (из МОЛОКА), крахмал тапиоковый, МОЛОКО сухое
                                                обезжиренное, глазирователь (шеллак), эмульгатор (лецитин подсолнечный), сироп глюкозный,
                                                ароматизатор, соль, концентраты соков (яблока, черной смородины), концентрат редиса красного,
                                                красители (рибофлавин, Е141, экстракт паприки)).
                                                <br />
                                                <span>МОЖЕТ СОДЕРЖАТЬ СЛЕДЫ АРАХИСА И ДРУГИХ ОРЕХОВ.</span><br />
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <div class="accordion-item-title">Пищевая ценность на 100 г</div>
                                            <div class="accordion-item-text">
                                                <div class="product-table">
                                                    <p>
                                                        <span>Белки</span>
                                                        <span>4,8 г</span>
                                                    </p>
                                                    <p>
                                                        <span>Углеводы</span>
                                                        <span>64 г</span>
                                                    </p>
                                                    <p>
                                                        <span>Жиры</span>
                                                        <span>25 г</span>
                                                    </p>
                                                    <p>
                                                        <span>Энергетическая ценность</span>
                                                        <span>2114 кДж/ 505 ккал</span>
                                                    </p>
                                                </div>

                                                <span class="disclaimer small">АКТУАЛЬНУЮ ИНФОРМАЦИЮ О&nbsp;ПРОДУКТЕ СМОТРИ НА&nbsp;УПАКОВКЕ</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% include 'connects/seo-text.html' %} {% include 'cart-button.html' %}
                        </div>
                    </div>
                </div>
            </div>

            {% include 'footer.html' %} {% include 'popups/popup-markets-maxfun.html' %} {% include 'connects/scripts.html' %}
        </div>
    </body>
</html>
