<!doctype html>
<html lang="ru-RU">
    <head>
        {% include 'connects/meta.html' %}
        <title>Alpen Gold Молочный с чернично-йогуртовой начинкой</title>
        <meta name="description" content="Alpen Gold - это яркие сочетания шоколада с разными ингредиентами. Испытай вкус яркости!" />
        {% include 'connects/styles.html' %} {% include 'analytics.html' %}
    </head>

    <body class="product-page alpengold">
        <div class="product-page__wrapper">
            <!--HEADER-->
            {% set showLogo = true %} {% set activePage = "alpengold" %} {% include 'header.html' %}

            <div class="product-page-content">
                <div class="product-content">
                    <div class="product-content-wrapper">
                        <div
                            class="product-bg mobile-visible"
                            style="background: radial-gradient(50% 60.35% at 50% 50%, #7663bd 0%, #260e7b 100%)"
                        ></div>
                        <div class="container">
                            <div class="breadcrumbs">
                                <a href="./">Главная</a>
                                <a href="./#catalog">Продукты</a>
                                <a href="./alpengold.html">Alpen Gold</a>
                                <a href="./product-alpengold-2.html">Молочный с чернично-йогуртовой начинкой</a>
                            </div>
                            <div class="product-wrapper">
                                <div class="product with-slider owl-carousel owl-theme">
                                    <div class="product-img">
                                        <div
                                            class="product-bg desktop-visible"
                                            style="background: radial-gradient(50% 60.35% at 50% 50%, #7663bd 0%, #260e7b 100%)"
                                        ></div>
                                        <img src="img/products/alpengold/2.webp" alt="Alpen Gold" />
                                        <img
                                            srcset="img/catalog/alpengold/product/decor/2.png 1x, img/catalog/alpengold/product/decor/2@2x.png 2x"
                                            alt=""
                                            class="product-decor"
                                        />
                                    </div>
                                    <div class="product-img second-image">
                                        <img src="img/products/alpengold/2-2.webp" alt="Alpen Gold" />
                                    </div>
                                </div>
                                <div class="product-info">
                                    <div class="product-name">Шоколад молочный с&nbsp;чернично-йогуртовой начинкой</div>
                                    <div class="product-weight">80 г</div>
                                    <div class="product-desc">
                                        Alpen Gold с&nbsp;чернично-йогуртовой начинкой — сочетание черничного и шоколадного вкуса с&nbsp;нотками
                                        йогурта и&nbsp;тающей текстуры. В&nbsp;ассортименте Alpen Gold представлен как классический шоколад, так
                                        и&nbsp;необычные миксы.
                                        <span>Попробуй и&nbsp;добавь Alpen Gold в&nbsp;каждый момент!</span>
                                    </div>
                                    <div class="accordion-wrap">
                                        <div class="accordion-item">
                                            <div class="accordion-item-title">Состав</div>
                                            <div class="accordion-item-text">
                                                сахар, жир растительный (масло пальмовое), сыворотка сухая МОЛОЧНАЯ, какао тертое, масло какао, МОЛОКО
                                                сухое цельное, жир МОЛОЧНЫЙ, порошок черничный, эмульгаторы (лецитин СОЕВЫЙ, Е476), ЙОГУРТОВЫЙ
                                                порошок, МОЛОКО сухое обезжиренное, регулятор кислотности (кислота лимонная), ароматизаторы, соль.
                                                <br />
                                                <span>МОЖЕТ СОДЕРЖАТЬ СЛЕДЫ АРАХИСА, ДРУГИХ ОРЕХОВ И ПШЕНИЦЫ.</span><br />
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <div class="accordion-item-title">Пищевая ценность на 100 г</div>
                                            <div class="accordion-item-text">
                                                <div class="product-table">
                                                    <p>
                                                        <span>Белки</span>
                                                        <span>3,8 г</span>
                                                    </p>
                                                    <p>
                                                        <span>Углеводы</span>
                                                        <span>59 г</span>
                                                    </p>
                                                    <p>
                                                        <span>Жиры</span>
                                                        <span>33 г</span>
                                                    </p>
                                                    <p>
                                                        <span>Энергетическая ценность</span>
                                                        <span>2295 кДж/ 550 ккал</span>
                                                    </p>
                                                </div>

                                                <span class="disclaimer small">АКТУАЛЬНУЮ ИНФОРМАЦИЮ О&nbsp;ПРОДУКТЕ СМОТРИ НА&nbsp;УПАКОВКЕ</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% include 'connects/seo-text.html' %} {% include 'cart-button.html' %}
                        </div>
                    </div>
                </div>
            </div>

            {% include 'footer.html' %} {% include 'popups/popup-markets-main.html' %} {% include 'connects/scripts.html' %}
        </div>
    </body>
</html>
