<!doctype html>
<html lang="ru-RU">
    <head>
        {% include 'connects/meta.html' %}
        <title>Aerated молочный пористый с начинкой Клубника-кокос</title>
        <meta name="description" content="Alpen Gold - это яркие сочетания шоколада с разными ингредиентами. Испытай вкус яркости!" />
        {% include 'connects/styles.html' %} {% include 'analytics.html' %}
    </head>

    <body class="product-page aero">
        {% include 'noscript.html' %}
        <div class="product-page__wrapper">
            <!--HEADER-->
            {% set showLogo = true %} {% set activePage = "aero" %} {% include 'header.html' %}

            <div class="product-page-content">
                <div class="product-content">
                    <div class="product-content-wrapper">
                        <div
                            class="product-bg mobile-visible"
                            style="background: radial-gradient(50% 60.35% at 50% 50%, #ffffff 0%, #b7dbf5 100%)"
                        ></div>
                        <div class="container">
                            <div class="breadcrumbs">
                                <a href="./">Главная</a>
                                <a href="./#catalog">Продукты</a>
                                <a href="./alpengold-aero.html">Alpen Gold Aerated</a>
                                <a href="./product-alpengold-aero-3.html">Шоколад белый пористый</a>
                            </div>
                            <div class="product-wrapper">
                                <div class="product with-slider owl-carousel owl-theme">
                                    <div class="product-img">
                                        <div
                                            class="product-bg desktop-visible"
                                            style="background: radial-gradient(50% 60.35% at 50% 50%, #ffffff 0%, #b7dbf5 100%)"
                                        ></div>
                                        <img src="img/products/aero/3.webp" alt="Alpen Gold" />
                                        <img src="img/products/aero/decor/3.webp" alt="Alpen Gold" class="product-decor" />
                                    </div>
                                    <div class="product-img standart">
                                        <img src="img/products/aero/3-2.webp" alt="Alpen Gold" />
                                    </div>
                                    <div class="product-img standart">
                                        <img src="img/products/aero/3-3.webp" alt="Alpen Gold" />
                                    </div>
                                    <div class="product-img standart">
                                        <img src="img/products/aero/3-4.webp" alt="Alpen Gold" />
                                    </div>
                                    <div class="product-img standart">
                                        <img src="img/products/aero/3-5.webp" alt="Alpen Gold" />
                                    </div>
                                </div>
                                <div class="product-info">
                                    <div class="product-name">Шоколад белый пористый с&nbsp;начинкой клубника-кокос</div>
                                    <div class="product-weight">75 г</div>
                                    <div class="product-desc">
                                        Шоколад белый пористый Alpen Gold Aerated клубника-кокос обладает легкой текстурой и&nbsp;нежной
                                        клубнично-кокосовой начинкой. В&nbsp;каждой плитке пористого шоколада заключены тысячи воздушных пузырьков,
                                        которые тают во&nbsp;рту и&nbsp;уносят на&nbsp;вершину удовольствия.
                                        <span>Попробуй легкость на&nbsp;вкус с&nbsp;Alpen Gold!</span>
                                    </div>
                                    <div class="accordion-wrap">
                                        <div class="accordion-item">
                                            <div class="accordion-item-title">Состав</div>
                                            <div class="accordion-item-text">
                                                сахар, масло какао, сыворотка сухая МОЛОЧНАЯ, жир растительный (масло пальмовое), МОЛОКО сухое
                                                цельное, жир МОЛОЧНЫЙ, стружка кокосовая, порошок клубничный, эмульгаторы (лецитин СОЕВЫЙ, E476),
                                                ароматизаторы, регулятор кислотности (кислота лимонная).
                                                <br />
                                                <span>МОЖЕТ СОДЕРЖАТЬ СЛЕДЫ ОРЕХОВ И ПШЕНИЦЫ.</span><br />
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <div class="accordion-item-title">Пищевая ценность на 100 г</div>
                                            <div class="accordion-item-text">
                                                <div class="product-table dark">
                                                    <p>
                                                        <span>Белки</span>
                                                        <span>3,7 г</span>
                                                    </p>
                                                    <p>
                                                        <span>Углеводы</span>
                                                        <span>62 г</span>
                                                    </p>
                                                    <p>
                                                        <span>Жиры</span>
                                                        <span>32 г</span>
                                                    </p>
                                                    <p>
                                                        <span>Энергетическая ценность</span>
                                                        <span>2292 кДж/ 549 ккал</span>
                                                    </p>
                                                </div>

                                                <span class="disclaimer small">АКТУАЛЬНУЮ ИНФОРМАЦИЮ О&nbsp;ПРОДУКТЕ СМОТРИ НА&nbsp;УПАКОВКЕ</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% include 'connects/seo-text.html' %} {% include 'cart-button.html' %}
                        </div>
                    </div>
                </div>
            </div>

            {% include 'footer.html' %} {% include 'popups/popup-markets-aero.html' %} {% include 'connects/scripts.html' %}
        </div>
    </body>
</html>
