<div class="home-content__footer">
    <div class="home-content__footer-wrapper">
        <p class="home-content__footer-text">
            *Бренд Alpen Gold находится на&nbsp;первом месте в&nbsp;объемном и&nbsp;денежном выражении в&nbsp;категории Шоколадные плитки
            на&nbsp;основании данных NielsenIQ RMS для категории Шоколадные плитки за&nbsp;12&nbsp;месяцев, завершившихся 30&nbsp;апреля&nbsp;2025,
            в&nbsp;отношении рынка Национальная городская Россия в&nbsp;Российской Федерации, действительно по&nbsp;состоянию на&nbsp;28.05.2025
            (Ⓒ&nbsp;OOO&nbsp;“ЭЙ&nbsp;СИ&nbsp;НИЛЬСЕН”,&nbsp;2025г.)
        </p>
        <div class="seo-text">Alpen Gold - это яркие сочетания шоколада с разными ингредиентами. Испытай вкус яркости!</div>
    </div>
</div>
